<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/de/</string>
						<key>title</key>
						<string>Apple</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>C1DA641F-397F-4029-96D6-41AB0451A2CC</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://de.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo!</string>
					</dict>
					<key>URLString</key>
					<string>http://de.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>2CA0686B-3715-4A5C-8D12-6A41BA88B420</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maps.google.de/</string>
						<key>title</key>
						<string>Google Maps</string>
					</dict>
					<key>URLString</key>
					<string>http://maps.google.de/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>56BC3A06-498B-4B77-B711-CCA750E1815F</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.youtube.com/</string>
						<key>title</key>
						<string>YouTube</string>
					</dict>
					<key>URLString</key>
					<string>http://www.youtube.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>39CD0F94-AED5-4BCD-BEC5-FFCB21922B5C</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://de.wikipedia.org/</string>
						<key>title</key>
						<string>Wikipedia</string>
					</dict>
					<key>URLString</key>
					<string>http://de.wikipedia.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>8D417384-9938-4E15-A291-0A17D5378FD3</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.n-tv.de/</string>
								<key>title</key>
								<string>n-tv.de</string>
							</dict>
							<key>URLString</key>
							<string>http://www.n-tv.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>4639E758-B851-46D0-A457-DAE8E0119FDD</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.faz.net/</string>
								<key>title</key>
								<string>FAZ.NET</string>
							</dict>
							<key>URLString</key>
							<string>http://www.faz.net/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>AE074DAF-653B-4C42-AC90-D0F9A2BFD7FC</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.sueddeutsche.de/</string>
								<key>title</key>
								<string>Süddeutsche</string>
							</dict>
							<key>URLString</key>
							<string>http://www.sueddeutsche.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>74C7B192-008F-4A02-89A6-A406788EE945</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>feed://www.tagesschau.de/xml/rss2</string>
								<key>title</key>
								<string>Tagesschau</string>
							</dict>
							<key>URLString</key>
							<string>feed://www.tagesschau.de/xml/rss2</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>97A40BBC-CC85-4C00-B488-883B3599A9B4</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ftd.de/</string>
								<key>title</key>
								<string>Financial Times</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ftd.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>4D0CC26B-F174-497B-845F-0E61A6B6B613</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.zdnet.de/news/</string>
								<key>title</key>
								<string>ZDNet.de News</string>
							</dict>
							<key>URLString</key>
							<string>http://www.zdnet.de/news/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>AA155567-4DFC-49C2-AAB9-68CAFCA79E00</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://de.news.yahoo.com/</string>
								<key>title</key>
								<string>Yahoo! Nachrichten</string>
							</dict>
							<key>URLString</key>
							<string>http://de.news.yahoo.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>F0634B98-9B3F-4D9C-9D28-40EA945B8553</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.spiegel.de/</string>
								<key>title</key>
								<string>Spiegel Online</string>
							</dict>
							<key>URLString</key>
							<string>http://www.spiegel.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>1F89D51A-7065-4FAC-8A73-B0A34B96C816</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.zeit.de/</string>
								<key>title</key>
								<string>Zeit Online</string>
							</dict>
							<key>URLString</key>
							<string>http://www.zeit.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>C23E3891-1F61-42A3-ABBD-05160A201F43</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>feed://wired.com/news/feeds/rss2/0,2610,3,00.xml</string>
								<key>title</key>
								<string>Wired</string>
							</dict>
							<key>URLString</key>
							<string>feed://wired.com/news/feeds/rss2/0,2610,3,00.xml</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>AC969D3E-191D-46A4-8435-B3DFA63E2A91</string>
						</dict>
					</array>
					<key>Title</key>
					<string>News</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>766F04BF-5EDD-4C39-8393-023448BEC359</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ebay.de/</string>
								<key>title</key>
								<string>eBay</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ebay.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>C31E6CF8-99B8-4165-87B6-1B0BF20BB6E6</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.amazon.de/</string>
								<key>title</key>
								<string>Amazon</string>
							</dict>
							<key>URLString</key>
							<string>http://www.amazon.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>671D6D97-42ED-4D94-842D-416821CAFAAC</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.flickr.com/</string>
								<key>title</key>
								<string>Flickr</string>
							</dict>
							<key>URLString</key>
							<string>http://www.flickr.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>6146ED3E-25DB-46D4-8AED-ECDC3324BCC7</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.expedia.de/</string>
								<key>title</key>
								<string>Expedia</string>
							</dict>
							<key>URLString</key>
							<string>http://www.expedia.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>98EFA451-452C-4CBD-B1A0-4AD5EEDCCCAC</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.monster.de/</string>
								<key>title</key>
								<string>Monster Jobs</string>
							</dict>
							<key>URLString</key>
							<string>http://www.monster.de/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>907C3F4B-1563-4E3F-AC0F-916049C3638A</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Beliebt</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>3386C07C-ECF6-4FF7-9C26-EE09DBB064F7</string>
				</dict>
			</array>
			<key>Title</key>
			<string>BookmarksBar</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>27F5DABD-3B27-4346-ABE5-A39F10F33D94</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>BookmarksMenu</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>11CA2F3D-8333-4A08-ACF4-C8FA83C857C1</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Address Book</string>
			<key>WebBookmarkIdentifier</key>
			<string>Address Book Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>12559D49-51B0-490E-A139-567D17EF482D</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bonjour</string>
			<key>WebBookmarkIdentifier</key>
			<string>Bonjour Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>0F29D84A-58D2-4349-AF6E-A4178254663A</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>History</string>
			<key>WebBookmarkIdentifier</key>
			<string>History Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>CE126F83-70F9-4C9C-B00C-745920EC2BEB</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Alle RSS-Feeds</string>
			<key>WebBookmarkIdentifier</key>
			<string>RSS Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>DDE7E125-9F86-4309-8573-83044F3917E8</string>
		</dict>
	</array>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkUUID</key>
	<string>5EBA9AB6-BC9F-4335-B406-EE93918E4E2C</string>
</dict>
</plist>
