<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
  <display-name>helio-dpas</display-name>
  
  <listener>
    <listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
  </listener>
  
  <servlet>
		<servlet-name>StartUpServlet</servlet-name>
		<servlet-class>eu.heliovo.dpas.ie.servlets.StartupServlet</servlet-class>
		<init-param>
		<param-name>port</param-name>
		<param-value>8080</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>		
	</servlet>
  
  <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>        
          <init-param>
			<param-name>struts.devMode</param-name>
			<param-value>false</param-value>
          </init-param>
    	</filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
   </filter-mapping>
  
  <!-- these are for JAX-WS -->
  <servlet>
    <servlet-name>jaxws-servlet</servlet-name>
    <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  
  <!-- mappings -->
  <servlet-mapping>
    <servlet-name>jaxws-servlet</servlet-name>
    <url-pattern>/DpasService</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioService</url-pattern>
  </servlet-mapping>  
  
    <servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioTavernaService</url-pattern>
  </servlet-mapping>  
  
      <servlet>
      	<description>
      	</description>
      	<display-name>DpasQueryServlet</display-name>
      	<servlet-name>DpasQueryServlet</servlet-name>
      	<servlet-class>
      	eu.heliovo.dpas.ie.servlets.DpasQueryServlet</servlet-class>
      </servlet>
      <servlet>
      	<description>
      	</description>
      	<display-name>VsoFitsResponseServlet</display-name>
      	<servlet-name>VsoFitsResponseServlet</servlet-name>
      	<servlet-class>
      	eu.heliovo.dpas.ie.services.vso.servlet.VsoFitsResponseServlet</servlet-class>
      </servlet>

	<servlet-mapping>
		<servlet-name>DpasQueryServlet</servlet-name>
		<url-pattern>/QueryServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VsoFitsResponseServlet</servlet-name>
		<url-pattern>/ResponseServlet</url-pattern>
	</servlet-mapping>
  
  	<welcome-file-list>		
		<welcome-file>HelioHome.jsp</welcome-file>
	</welcome-file-list>
  
</web-app>