*
{
	margin:0;
	padding:0;
}

.module
{
	border:1px solid #ccc;
	
	margin-bottom:20px;
}
	.module .header, .module .header2
	{
		background-color:#efefef;
		padding-left:10px;
	}
		.module .header h1, .module .header2 h1
		{
			margin:0;
			display:inline;
			font-size:16px;
		}
		
	.module .content
	{
		clear:both;
		padding:10px;
	}
	.module .placeholder
	{
		margin-top:1px;
		margin-right:2px;
	}
	.module .expand
	{
		float:right;
		display:inline;
		background-image:url('../images/jquery/plugins/toggle-sprite.png');
		background-position: 0px -16px;
		width:16px;
		height:16px;
	}	
	.module .collapse
	{
		float:right;
		display:inline;
		background-image:url('../images/jquery/plugins/toggle-sprite.png');
		background-position: 0px 0px;
		width:16px;
		height:16px;
	}
	