/**
 * Main CSS file for the HFE
 */

#splash_screen ul, ol {
  padding-left: 25px;
}
 
#splash_screen li {
  padding-left: 0px;
}
 
#extra_list_form li, #extra_list li {
    font-size: 0.9em;
    padding: 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px dashed #333;
    color: black;
    list-style-type:none;
    line-height: 1.6em;
}
 
/***************** CSS related to TASKS *********************/
/**
 * Format the main area of a task
 */
.task {
  border: 1px solid #ccc;
  margin-bottom: 20px;
}

/** main header **/
.task .viewerHeader {
    background: -moz-linear-gradient(center top , #BAC7E9, #8591B4) repeat scroll 0 0 transparent;
    box-shadow: 0 0 2px #000000;
    color: #444466;
    margin-bottom: 5px;
}

.task .viewerHeader h1 {
    padding: 5px;	
}

/**
 * sub header within task area
 */
.task .header,.task .header2 {
  background: #FFAC0F
    url(../images/jquery/ui-bg_inset-soft_75_ffac0f_1x100.png) repeat-x
    scroll 50% 50%;
  padding-left: 10px;
  height: 16px;
  vertical-align: middle;
}

.task .header h1,.task .header2 h1 {
  margin: 0;
  display: inline;
  font-size: 1.2em;
}


/**
 * content area in the task area
 */
.task .task_body {
  clear: both;
  padding: 10px;
}

/**
 * used by the collapsible plugin?
 */
.task .expand {
  float: right;
  display: inline;
  background-image: url('../images/jquery/plugins/toggle-sprite.png');
  background-position: 0px -16px;
  width: 16px;
  height: 16px;
}

.task .collapse {
  float: right;
  display: inline;
  background-image: url('../images/jquery/plugins/toggle-sprite.png');
  background-position: 0px 0px;
  width: 16px;
  height: 16px;
}


/***************************** CSS related to dialogs *******************************/

table.dialog_table {
  height:100%; 
  width: 100%;
}

table.dialog_content_table {
  width:100%;
  min-width: 500px; 
  margin-top: 20px;
}

table.dialog_content_table td {
  padding-bottom: 2px;
}

/*************************** CSS related to result areas *************************/

.task_output_params {
  display: inline-block;
}

.plot_floating_box {
  float: left;
  display: inline-block;
  overflow: hidden;

  height: 200px; 
  
  background: url("../images/helio/shadow_gradient.gif") repeat-x scroll center bottom #FEFEFF;
  margin: 5px 10px;  
  padding: 5px;
  
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0 1px 1px #DFDFDF;
  border: 1px solid #C3C6CA;
}

/*************************** CSS related to the menu area *************************/
ul.menu {
	position:absolute;
	z-index: 5;
}

ul.menu li {
	border: none;
}

details_link {
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
