/**
 * Main CSS file for the HFE
 */

/***************** Global properties *********************/
body {
	color: #464339;
	font: 12px/15px Arial, Helvetica, sans-serif;
	font-weight: normal;
	overflow-y: scroll;
	margin: 0;
	padding: 0;
}

/**
 * prevent images from being moved around (for drag & drop).
 * not sure if this is really needed.  
 */
img {
	-moz-user-select: none;
	-khtml-user-select: none;
}

.candybox {
	background: url("../images/helio/shadow_gradient.gif") repeat-x scroll
		center bottom #FEFEFF;
	border: 1px solid #C3C6CA;
	margin: 0 0 2em;
	padding: 10px 20px 20px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 1px #DFDFDF;
	width: 300px;
}

/****************** Header bar ***********************/
#headerbar {
	background-image: url(../images/background/header_lines.png);
	background-repeat: repeat-x;
	z-index: -1;
	width: 100%;
	height: 89px;
	overflow: hidden;
	text-align: center;
}

#headerbar table {
	height: 89px;
	max-height: 89px;
	text-align: center;
}

#headerbar img {
	z-index: 100;
}

#headerbar table tbody tr td {
	padding: 0;
}

#headerbar-header-text {
	position: absolute;
	left: 50%;
	margin-left: -326px;
	height: 89px;
	width: 656px;
}

#headerbar-header-text table {
	vertical-align: middle;
}

#headerbar-header-text table td {
	font-family: Verdana,sans-serif;
	font-size: large;
	color: white;
}

#headerbar-header-logo {
	float: left;
	display: block;
	height: 89px;
	vertical-align: middle;
}

#headerbar-header-logo img {
	top: -2px;
	vertical-align: middle;
}

#headerbar-glowlogo {
	float: right;
	display: block;
	height: 89px;
	vertical-align: middle;
}

#headerbar-glowlogo img {
	height: 89px;
	top: -2px;
	vertical-align: middle;
}

/****************** Menu bar ***********************/
#menubar {
	width: 100%;
	margin: 0;
	overflow: visible;
	background: url(../images/navbar/ulback_yellow_75.png) repeat-x;
	height: 36px;
}

#menu,#login {
	padding: 0 20px;
	margin: 0;
	list-style: none;
	height: 36px;
	line-height: 36px;
}

#menu {
	float: left;
}

#login {
	float: right;
}

#menu li,#login li {
	font-weight: bold;
	float: left;
	cursor: pointer;
	/*background:url(../images/navbar/button_yellow.png) no-repeat left top; */
}

#menu>li,#login>li {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-style: none solid none none;
}

#menu>li:first-child,#login>li:first-child {
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-style: none solid;
}

#menu>li ul {
	background: white;
	border: 1px solid #E4A10C;
	border-style: none solid solid solid;
	border-radius: 0px 0px 5px 5px;
}

#menu li a,#login li a {
	height: 36px;
	padding: 0 15px;
	color: #111177;
	text-decoration: none;
}

#menu>li:hover,#login>li:hover {
	/*background: url(../images/navbar/button_yellow.png) no-repeat right top;*/
	background: rgba(255, 255, 255, 0.3);
	line-height: 36px;
	height: 36px;
}

#menu>li li {
	font-weight: normal;
}

#menu>li li:hover,#login>li li:hover {
	background: rgba(228, 161, 12, 0.1);
}

#menu>li li.separated {
	border-top: 1px dotted black;
}

#menu>li li.mega:not (.category ) {
	text-indent: 1em;
	overflow: hidden;
}

#menu>li li.mega.category {
	font-style: italic;
}

#menu>li li.mega.category a {
	color: #111177;
}

#menu>li li.disabled {
	cursor: default;
}

#menu>li li.disabled a {
	color: #B8B8D6;
}

#menu>li li.disabled:hover {
	background: rgba(228, 161, 12, 0.0);
}

#login li span#loginLink {
	display: block;
	height: 36px;
	line-height: 36px;
	padding: 0 0 0 10px;
	color: #111177;
	text-decoration: none;
	cursor: pointer;
}

span.external {
	background: url(../images/externalLink.png) center right no-repeat;
	padding-right: 17px;
}

/******************* help content ********************/
div#helpContent {
    position: absolute;
    height: 80%;
    top:0px;
    margin-top: 125px;
    margin-bottom:125px;
    padding: 10px 5px;
    overflow: auto;
}

/****************** data tables **********************/
/**
 * select a row in a table
 */
tr.odd.row_selected {
	background-color: #FAAC66;
}

tr.even.row_selected {
	background-color: #FFC591;
}

/* For the standard odd/even */
tr.odd.row_selected td.sorting_1 {
	background-color: #D69860;
}

tr.odd.row_selected td.sorting_2 {
	background-color: #E3A268;
}

tr.odd.row_selected td.sorting_3 {
	background-color: #D69860;
}

tr.even.row_selected td.sorting_1 {
	background-color: #E3A268;
}

tr.even.row_selected td.sorting_2 {
	background-color: #D69860;
}

tr.even.row_selected td.sorting_3 {
	background-color: #E3A268;
}

.css_right {
	float: right;
}

/****************** entry screen *****************/
#entry-screen {
	width: 100%;
	height: 250px;
}

.entry-screen {
	position: relative;
	width: 900px;
	height: 250px;
	margin: 50px auto;
}

.entry_screen ul,ol {
	padding-left: 25px;
}

.entry_screen li {
	padding-left: 0px;
}

.entry_screen_button table {
	height: 120px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
}

.entry_screen_box {
	float: left;
	display: inline;
	width: 250px;
	height: 250px;
	margin: 10px;
}

.entry_screen_button img {
	width: 100px;
	height: 100px;
}

.entry_screen_button {
	width: 235px;
	height: 120px;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	border: 3px solid rgba(255, 255, 255, 255);
	padding: 5px;
	overflow: hidden;
	background: #e7e7e7;
	background: -moz-linear-gradient(top, #e7e7e7 10%, #efdab8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #e7e7e7),
		color-stop(100%, #efdab8) );
	background: -webkit-linear-gradient(top, #e7e7e7 10%, #efdab8 100%);
	background: -o-linear-gradient(top, #e7e7e7 10%, #efdab8 100%);
	background: -ms-linear-gradient(top, #e7e7e7 10%, #efdab8 100%);
	background: linear-gradient(to bottom, #e7e7e7 10%, #efdab8 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(  startColorstr='#e7e7e7',
		endColorstr='#efdab8', GradientType=0 );
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 3px 3px rgba(41, 41, 41, 0.5);
	box-shadow: 0 0 3px 3px rgba(41, 41, 41, 0.5);
	font-size: 23px;
	font-family: Arial, Verdana, sans-serif;
	line-height: normal;
	text-shadow: 1px 1px white;
}

.entry_screen_button:hover {
	-webkit-box-shadow: 0 0 4px -1px rgba(41, 41, 41, 0.5);
	box-shadow: 0 0 4px 5px rgba(41, 41, 41, 0.5);
}

.entry_screen_box_description {
	margin: 15px;
	font: 12px Arial, Helvetica, sans-serif;
}

/****************** changelog *****************/
table.changelog {
	border-collapse: collapse;
	padding: 5px;
}

table.changelog tr th {
	vertical-align: top;
	border: 1px solid #C3C6CA;
	text-align: left;
}

table.changelog tr td {
	vertical-align: top;
	border: 1px solid #C3C6CA;
	padding: 5px;
}

/***************** CSS related to TASKS *********************/
/**
 * Format the main area of a task
 */
.task {
	border: 1px solid #ccc;
	margin-bottom: 20px;
	width: auto;
	padding: 0;
}

/** main header **/
.task .viewerHeader {
	color: #444466;
	margin-bottom: 5px;
	box-shadow: 0 0 2px #000000;
	background: -moz-linear-gradient(center top, #BAC7E9, #8591B4) repeat
		scroll 0 0 transparent;
	background: -webkit-gradient(linear, center top, center bottom, from(#bac7e9),
		to(#8591b4) );
	background: -o-linear-gradient(top, #bac7e9, #8591b4);
	background: linear-gradient(top, #bac7e9, #8591b4);
	-moz-box-shadow: 0px 0px 2px #000000;
	-webkit-box-shadow: 0px 0px 2px #000000;
	/*--IE9 DOES NOT SUPPORT GRADIENT BACKGROUNDS--*/
}

.task .viewerHeader h1 {
	padding: 5px;
	margin-top: 0px;
	font-size: 1.3em;
	font-weight: normal;
}

/**
 * sub header within task area
 */
.task .header,.task .header2 {
	background: #FFAC0F
		url(../images/jquery/ui-bg_inset-soft_75_ffac0f_1x100.png) repeat-x
		scroll 50% 50%;
	padding-left: 10px;
	height: 16px;
	vertical-align: middle;
}

.task .header h1,.task .header2 h1 {
	margin: 0;
	display: inline;
	font-size: 1.2em;
}

/**
 * content area in the task area
 */
.task .task_body {
	clear: both;
	padding: 10px;
}

/**
 * used by the collapsible plugin?
 */
.task .expand {
	float: right;
	display: inline;
	background-image: url('../images/jquery/plugins/toggle-sprite.png');
	background-position: 0px -16px;
	width: 16px;
	height: 16px;
}

.task .collapse {
	float: right;
	display: inline;
	background-image: url('../images/jquery/plugins/toggle-sprite.png');
	background-position: 0px 0px;
	width: 16px;
	height: 16px;
}

.showDialog {
	cursor: pointer;
}

/***************************** CSS related to dialogs *******************************/
table.dialog_table {
	height: 100%;
	width: 100%;
}

table.dialog_content_table {
	width: 100%;
	min-width: 500px;
	margin-top: 20px;
}

table.dialog_content_table td {
	padding-bottom: 2px;
}

.dialog_selection_area {
	width: 250px;
	height: 220px;
	margin: 0;
	overflow: auto;
}

.dialog_selection_area ul {
	list-style: none;
	padding: 0px;
}

.dialog_selection_area_icon {
	float: left;
	width: 20px;
	margin-bottom: 2px;
}

.dialog_selection_area_text {
	float: left;
	width: 210px;
	min-height: 20px;
}

.dialog_tab_area {
	min-height: 500px;
	overflow: auto;
}

.hecInfo {
	cursor: pointer;
}

#filterText {
	font-size: 10px;
	padding-left: 4px;
	overflow: hidden;
	white-space: nowrap;
	display: inline-block;
	max-width: 500px;
	margin-top: 5px;
}

.filterInstrumentsText {
	font-size: 10px;
	padding-left: 4px;
}

select.paramSetEntry {
	max-width: 220px;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.summaryBox table td {
	max-width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	-ms-text-overflow: ellipsis;
}

.reload_link {
	text-decoration: underline;
	cursor: pointer;
}

/** icon for catalogue options */
.listOptions {
	background-image: url("../images/helio/options.png");
	background-repeat: no-repeat;
	background-size: 16px 16px;
	background-position: center center;
	padding: 0 16px 0 1em;
	cursor: pointer;
}

/*********************** time picker addon *************************/
.ui-timepicker-div .ui-widget-header {
	margin-bottom: 8px;
}

.ui-timepicker-div dl {
	text-align: left;
}

.ui-timepicker-div dl dt {
	height: 25px;
	margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
	margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
	font-size: 90%;
}

ui-tpicker-grid-label {
	background: none;
	border: none;
	margin: 0;
	padding: 0;
}

/*************************** CSS related to result areas *************************/
.task_output_params {
	display: inline-block;
}

.examine_event {
	text-align: center;
	cursor: pointer;
}

.plot_floating_box {
	float: left;
	display: inline-block;
	overflow: hidden;
	height: 200px;
	background: url("../images/helio/shadow_gradient.gif") repeat-x scroll
		center bottom #FEFEFF;
	margin: 5px 10px;
	padding: 5px;
	border-radius: 5px 5px 5px 5px;
	box-shadow: 0 1px 1px #DFDFDF;
	border: 1px solid #C3C6CA;
}

/**
 * data tables 
 */
.resultTable td,.resultTable th {
	font: 11px verdana, arial, helvetica, sans-serif;
	line-height: 12px;
	padding: 5px 6px;
	vertical-align: top;
}

.item_found {
	color: green;
}

.item_missing {
	color: red;
}

.toolbar {
	padding: .1em;
	margin: 0.3em 0;
	width: auto;
	height: 30px;
	border: solid 1px gray;
	display: inline-block;
}

.toolbar-icon {
	width: 30px;
	height: 30px;
	background-image: url(../images/helio/toolbar_med.png);
	display: inline-block;
	position: relative;
	cursor: pointer;
}

.toolbar-icon.toolbar-icon-info {
	background-position: 0 0
}

.toolbar-icon.toolbar-icon-savevotable {
	background-position: -30px 0
}

.toolbar-icon.toolbar-icon-extract {
	background-position: -60px 0
}

.toolbar-icon.toolbar-icon-downloadfiles {
	background-position: -90px 0
}

.toolbar-icon.toolbar-icon-selectall {
	background-position: -120px 0
}

.toolbar-icon.toolbar-icon-extract-instrument {
	background-position: -151px 0
}

.toolbar-icon.toolbar-icon-extract-time {
	background-position: -182px 0
}

div.tabs_votable_result .ui-tabs-panel {
	padding: 0.5em;
}

/*************************** CSS related to the menu area *************************/
ul.menu {
	position: absolute;
	z-index: 5;
}

ul.menu li {
	border: none;
	padding: 2px 5px;
	cursor: pointer;
}

.ui-buttonset {
	margin-right: 2px;
}

details_link {
	text-decoration: underline;
	color: blue;
	cursor: pointer;
}

/*************************** CSS related to the data cart area *************************/
#datacart_container {
	height: 90px;
	width: auto;
	margin-bottom: 1em;
}

#datacart_scrollarea {
	height: 63px;
	overflow: hidden;
	white-space: nowrap;
	width: 100%;
}

#datacart_slider {
	background: none repeat scroll 0 0 #BBBBBB;
	float: left;
	height: 6px;
	margin: 5px;
	position: relative;
	width: 100%;
}

.cartitem {
	float: left;
	margin-bottom: 5px;
	margin-left: 5px;
	margin-top: 2px;
	overflow: hidden;
	padding: 2px 0 3px 4px;
	white-space: normal;
	width: 72px;
	height: 50px;
	cursor: move;
	box-shadow: 0 0 2px #000000;
	background: #BAC7E9 repeat scroll 0 0 transparent;
	/* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#BAC7E9',
		endColorstr='#8591B4' ); /* for IE */
	background: -webkit-gradient(linear, 50% top, 50% bottom, from(#BAC7E9),
		to(#8591B4) ); /* for webkit browsers */
	background: -moz-linear-gradient(center top, #BAC7E9, #8591B4);
	/* for firefox 3.6+ */
}

.cartitem_image {
	height: 35px;
	width: 35px;
	-moz-user-select: none;
}

.cartitem_label {
	color: white;
}

.cartitem_edit {
	float: right;
	cursor: pointer;
}

.cartitem_close {
	float: right;
	cursor: pointer;
}

/***************** drag and drop ******************/
.paramDroppable {
	background: url(../images/helio/circle_destination.png) no-repeat;
}

.paramDroppableActive {
	background: url(../images/helio/circle_destination_active.png) no-repeat;
}

.paramDroppableHover {
	background: url(../images/helio/circle_destination_hover.png) no-repeat;
}

.paramDraggable {
	cursor: move;
	opacity: 1.0;
}