/* CSS Document */
#contenido{
margin-top:5px;

margin-left:10px;
margin-right:10px;



font-size:12px;
}

#questions{

   
   background-color:white;
   
   
   
  padding:10px;
   margin-bottom:30px;
   

   border:1px solid;
   
   

}

#contenido  h1{
    
    font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    font-size:22px;
    text-transform:uppercase;
    font-weight:bold;
    border-top:1px solid #eeeeee;
    border-bottom:1px solid #eeeeee;
    color:#be836e;}
#contenido .query{


   background-color:white;



  padding:10px;
   margin-bottom:30px;


   border:1px solid;

}
#contenido .query table{

 



}

#questions .questionReady {
    
    text-align:center;
    width:20%;
    
    background: #F9D1B1 ;
    border: 1px solid #A3510D;
    color:#9B4D0D;

    padding: 5px 5px 5px 5px;
    
}
#questions .questionReady a {
    color:#9B4D0D;
    
}
#questions .questionNotReady{
    text-align:center;
    width:20%;
    
    padding: 5px 5px 5px 5px;
    margin:1px;
    background-color:#F9D5C9;
    border: 1px solid #72270E;
    color:#72270E;
    
}
#questions .questionNotReady a {
    color:#72270E;

}
#questions .questionDone{

    text-align:center;
    width:20%;
    color:white;
    background: #F7E39D;
    border: 1px solid #92750C;
    color:#006DBA;
    
    padding: 5px 5px 5px 5px;
    

}
#questions .questionDone a {
    color:#006DBA;
}
#message1 {
    background: #FFD4AA url(../images/skin/information.png) 8px 50% no-repeat;
    border: 1px solid #FFAAAAm;
    color: #666673;
    margin: 10px 0 5px 0;
    padding: 5px 5px 5px 30px
}

#questions h2{
    font-family:"Century Gothic", "Trebuchet MS", "Arial Narrow", Arial, sans-serif;
    
    font-size:15px;
    margin:0px;
    font-weight:normal;
  
}