<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>HelioQueryService</display-name>
	
   	<listener>
    	<listener-class>com.sun.xml.ws.transport.http.servlet.WSServletContextListener</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>StartUpServlet</servlet-name>
		<servlet-class>eu.heliovo.queryservice.service.StartupServlet</servlet-class>
		<init-param>
		<param-name>port</param-name>
		<param-value>8080</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>		
	</servlet>	
	
	 <filter>
        <filter-name>struts2</filter-name>
        <filter-class>org.apache.struts2.dispatcher.FilterDispatcher</filter-class>        
          <init-param>
			<param-name>struts.devMode</param-name>
			<param-value>false</param-value>
          </init-param>
    	</filter>
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>
		<description>
		</description>
		<display-name>HelioQueryService</display-name>
		<servlet-name>HelioQueryService</servlet-name>
		<servlet-class>eu.heliovo.queryservice.servlets.HelioQueryService</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>HelioQueryService</servlet-name>
		<url-pattern>/HelioQueryService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
                <servlet-name>HelioQueryService</servlet-name>
                <url-pattern>/sync</url-pattern>
	</servlet-mapping>

	
	
	<servlet-mapping>
		<servlet-name>HelioQueryService</servlet-name>
		<url-pattern>/HelioQueryServiceB</url-pattern>
	</servlet-mapping>
	
	 <servlet>
		<description>
		</description>
		<display-name>LongRunningQueryService</display-name>
		<servlet-name>LongRunningQueryService</servlet-name>
		<servlet-class>eu.heliovo.queryservice.servlets.LongRunningQueryService</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>LongRunningQueryService</servlet-name>
		<url-pattern>/LongRunningQueryService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
		<servlet-name>LongRunningQueryService</servlet-name>
		<url-pattern>/LongRunningQueryServiceB</url-pattern>
	</servlet-mapping>

		
	<servlet>
		<description>
		</description>
		<display-name>ResultQueryService</display-name>
		<servlet-name>ResultQueryService</servlet-name>
		<servlet-class>eu.heliovo.queryservice.servlets.ResultQueryService</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ResultQueryService</servlet-name>
		<url-pattern>/ServiceJobStatus</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <servlet-class>com.sun.xml.ws.transport.http.servlet.WSServlet</servlet-class>
	   <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>VosiServlet</display-name>
		<servlet-name>VosiServlet</servlet-name>
		<servlet-class>
		eu.heliovo.queryservice.servlets.VosiServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CapabilityServlet</display-name>
		<servlet-name>CapabilityServlet</servlet-name>
		<servlet-class>
		eu.heliovo.queryservice.servlets.CapabilityServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>TableServlet</display-name>
		<servlet-name>TableServlet</servlet-name>
		<servlet-class>
		eu.heliovo.queryservice.servlets.TableServlet</servlet-class>
	</servlet>
	
	<servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioService1_0</url-pattern>
	</servlet-mapping>
	
		<servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioService1_1</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioService1_0b</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioLongQueryService</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioLongQueryService1_0</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioLongQueryService1_0b</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
        <servlet-name>jaxws-servlet</servlet-name>
        <url-pattern>/HelioLongQueryService1_1</url-pattern>
     </servlet-mapping>
     
     	<servlet-mapping>
        <servlet-name>jaxws-servlet</servlet-name>
        <url-pattern>/HelioLongQueryService1_2</url-pattern>
     </servlet-mapping>
	
	
	<servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioTavernaService</url-pattern>
	</servlet-mapping>
	<!-- 
	<servlet-mapping>
	   <servlet-name>jaxws-servlet</servlet-name>
	   <url-pattern>/HelioServiceVotable2</url-pattern>
	</servlet-mapping>
	-->
	<servlet-mapping>
		<servlet-name>VosiServlet</servlet-name>
		<url-pattern>/VosiServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CapabilityServlet</servlet-name>
		<url-pattern>/VOSI/capabilities</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TableServlet</servlet-name>
		<url-pattern>/VOSI/tables</url-pattern>
	</servlet-mapping> 
 	<servlet-mapping>
		<servlet-name>TableServlet</servlet-name>
		<url-pattern>/tables</url-pattern>
    </servlet-mapping>
	
 	
	<env-entry>
	   <env-entry-name>property/context</env-entry-name>
	   <env-entry-type>java.lang.String</env-entry-type>
	   <env-entry-value>test.txt</env-entry-value>
	</env-entry>
  
  <welcome-file-list>		
		<welcome-file>HelioHome.jsp</welcome-file>
	</welcome-file-list>
	
</web-app>
