<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mappings</key>
	<array>
		<dict>
			<key>ABProperty</key>
			<string>First</string>
			<key>FieldLabels</key>
			<array>
				<string>nombre</string>
				<string>nombre de pila</string>
				<string>nombre pila</string>
				<string>primer nombre</string>
				<string>1º nombre</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Middle</string>
			<key>FieldLabels</key>
			<array>
				<string>inicial</string>
				<string>inicial del segundo nombre</string>
				<string>segundo nombre</string>
				<string>inicial segundo nombre</string>
				<string>2º nombre</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Last</string>
			<key>FieldLabels</key>
			<array>
				<string>apellido</string>
				<string>apellidos</string>
				<string>primer apellido</string>
				<string>apellido(s)</string>
				<string>sus apellidos</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<array>
				<string>First</string>
				<string>Middle</string>
				<string>Last</string>
				<string>Suffix</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>nombre</string>
			</array>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Birthday</string>
			<key>FieldLabels</key>
			<array>
				<string>fecha de nacimiento</string>
				<string>fecha nacimiento</string>
				<string>cumpleaños</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>JobTitle</string>
			<key>FieldLabels</key>
			<array>
				<string>empresa</string>
				<string>organización</string>
				<string>compañía</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Email</string>
			<key>FieldLabels</key>
			<array>
				<string>email</string>
				<string>correo electrónico</string>
				<string>e-mail</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>calle</string>
				<string>domicilio</string>
				<string>nombre de calle</string>
				<string>dirección1</string>
				<string>dirección 1</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>dirección</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>City</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>ciudad</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>State</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>provincia</string>
				<string>estado</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>ZIP</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>cp</string>
				<string>códigopostal</string>
				<string> código postal</string>
				<string>zona postal</string>
				<string>zip</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Country</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>país</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Home&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>teléfono particular</string>
				<string>teléfono de casa</string>
				<string>teléfono casa</string>
				<string>teléfono nocturno</string>
				<string>teléfono de noche</string>
				<string>teléfono noche</string>
				<string>teléfono personal</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Work&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>teléfono trabajo</string>
				<string>teléfono del trabajo</string>
				<string>teléfono empresa</string>
				<string>teléfono de día</string>
				<string>teléfono diurno</string>
				<string>teléfono día</string>
				<string>teléfono laboral</string>
				<string>teléfono de la oficina</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Mobile&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>teléfono móvil</string>
				<string>móvil</string>
				<string>teléfono celular</string>
				<string>celular</string>
				<string>teléfono portátil</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Pager&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Buscapersonas</string>
				<string>Busca</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>area code</string>
				<string>areacode</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>phone</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>fax</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Organization</string>
			<key>FieldLabels</key>
			<array>
				<string>organization</string>
				<string>company</string>
			</array>
		</dict>
	</array>
	<key>Synonyms</key>
	<dict>
		<key>Address</key>
		<dict>
			<key>Country</key>
			<array>
				<array>
					<string>USA</string>
					<string>US</string>
					<string>United States</string>
					<string>United States of America</string>
				</array>
				<array>
					<string>UK</string>
					<string>United Kingdom</string>
				</array>
			</array>
			<key>State</key>
			<array>
				<array>
					<string>Alabama</string>
					<string>AL</string>
				</array>
				<array>
					<string>Alaska</string>
					<string>AK</string>
				</array>
				<array>
					<string>Alberta</string>
					<string>AB</string>
				</array>
				<array>
					<string>Arizona</string>
					<string>AZ</string>
				</array>
				<array>
					<string>Arkansas</string>
					<string>AR</string>
				</array>
				<array>
					<string>British Columbia</string>
					<string>BC</string>
				</array>
				<array>
					<string>California</string>
					<string>CA</string>
				</array>
				<array>
					<string>Colorado</string>
					<string>CO</string>
				</array>
				<array>
					<string>Connecticut</string>
					<string>CT</string>
				</array>
				<array>
					<string>Delaware</string>
					<string>DE</string>
				</array>
				<array>
					<string>District of Columbia</string>
					<string>DC</string>
				</array>
				<array>
					<string>Florida</string>
					<string>FL</string>
				</array>
				<array>
					<string>Georgia</string>
					<string>GA</string>
				</array>
				<array>
					<string>Hawaii</string>
					<string>HI</string>
				</array>
				<array>
					<string>Idaho</string>
					<string>ID</string>
				</array>
				<array>
					<string>Illinois</string>
					<string>IL</string>
				</array>
				<array>
					<string>Indiana</string>
					<string>IN</string>
				</array>
				<array>
					<string>Iowa</string>
					<string>IA</string>
				</array>
				<array>
					<string>Kansas</string>
					<string>KS</string>
				</array>
				<array>
					<string>Kentucky</string>
					<string>KY</string>
				</array>
				<array>
					<string>Louisiana</string>
					<string>LA</string>
				</array>
				<array>
					<string>Maine</string>
					<string>ME</string>
				</array>
				<array>
					<string>Manitoba</string>
					<string>MB</string>
				</array>
				<array>
					<string>Maryland</string>
					<string>MD</string>
				</array>
				<array>
					<string>Massachusetts</string>
					<string>MA</string>
				</array>
				<array>
					<string>Michigan</string>
					<string>MI</string>
				</array>
				<array>
					<string>Minnesota</string>
					<string>MN</string>
				</array>
				<array>
					<string>Mississippi</string>
					<string>MS</string>
				</array>
				<array>
					<string>Missouri</string>
					<string>MO</string>
				</array>
				<array>
					<string>Montana</string>
					<string>MT</string>
				</array>
				<array>
					<string>Nebraska</string>
					<string>NE</string>
				</array>
				<array>
					<string>Nevada</string>
					<string>NV</string>
				</array>
				<array>
					<string>New Brunswick</string>
					<string>NB</string>
				</array>
				<array>
					<string>New Hampshire</string>
					<string>NH</string>
				</array>
				<array>
					<string>New Jersey</string>
					<string>NJ</string>
				</array>
				<array>
					<string>New Mexico</string>
					<string>NM</string>
				</array>
				<array>
					<string>New York</string>
					<string>NY</string>
				</array>
				<array>
					<string>Newfoundland</string>
					<string>NF</string>
				</array>
				<array>
					<string>North Carolina</string>
					<string>NC</string>
				</array>
				<array>
					<string>North Dakota</string>
					<string>ND</string>
				</array>
				<array>
					<string>Northwest Territories</string>
					<string>NT</string>
				</array>
				<array>
					<string>Nova Scotia</string>
					<string>NS</string>
				</array>
				<array>
					<string>Ohio</string>
					<string>OH</string>
				</array>
				<array>
					<string>Oklahoma</string>
					<string>OK</string>
				</array>
				<array>
					<string>Ontario</string>
					<string>ON</string>
				</array>
				<array>
					<string>Oregon</string>
					<string>OR</string>
				</array>
				<array>
					<string>Pennsylvania</string>
					<string>PA</string>
				</array>
				<array>
					<string>Prince Edward Island</string>
					<string>PE</string>
				</array>
				<array>
					<string>Quebec</string>
					<string>PQ</string>
				</array>
				<array>
					<string>Rhode Island</string>
					<string>RI</string>
				</array>
				<array>
					<string>Saskatchewan</string>
					<string>SK</string>
				</array>
				<array>
					<string>South Carolina</string>
					<string>SC</string>
				</array>
				<array>
					<string>South Dakota</string>
					<string>SD</string>
				</array>
				<array>
					<string>Tennessee</string>
					<string>TN</string>
				</array>
				<array>
					<string>Texas</string>
					<string>TX</string>
				</array>
				<array>
					<string>Utah</string>
					<string>UT</string>
				</array>
				<array>
					<string>Vermont</string>
					<string>VT</string>
				</array>
				<array>
					<string>Virginia</string>
					<string>VA</string>
				</array>
				<array>
					<string>Washington</string>
					<string>WA</string>
				</array>
				<array>
					<string>West Virginia</string>
					<string>WV</string>
				</array>
				<array>
					<string>Wisconsin</string>
					<string>WI</string>
				</array>
				<array>
					<string>Wyoming</string>
					<string>WY</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
