<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mappings</key>
	<array>
		<dict>
			<key>ABProperty</key>
			<string>First</string>
			<key>FieldLabels</key>
			<array>
				<string>Imię</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Middle</string>
			<key>FieldLabels</key>
			<array>
				<string>Drugie imię</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Last</string>
			<key>FieldLabels</key>
			<array>
				<string>Nazwisko</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<array>
				<string>First</string>
				<string>Middle</string>
				<string>Last</string>
				<string>Suffix</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>Imię i nazwisko</string>
			</array>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Birthday</string>
			<key>FieldLabels</key>
			<array>
				<string>Data urodzenia</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>JobTitle</string>
			<key>FieldLabels</key>
			<array>
				<string>Stanowisko</string>
				<string>Zawód</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Email</string>
			<key>FieldLabels</key>
			<array>
				<string>email</string>
				<string>e-mail</string>
				<string>Adres email</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Ulica</string>
				<string>ul.</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Adres</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>City</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Miejscowość</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>State</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Województwo</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>ZIP</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>Kod pocztowy</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Country</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>country</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Home&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Telefon domowy</string>
				<string>Telefon prywatny</string>
				<string>Telefon wieczorem</string>
				<string>Telefon domowy stacjonarny</string>
				<string>Telefon prywatny stacjonarny</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Work&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Telefon do pracy</string>
				<string>Telefon służbowy</string>
				<string>Telefon dzienny</string>
				<string>Telefon firmowy</string>
				<string>Telefon służbowy stacjonarny</string>
				<string>Telefon firmowy stacjonarny</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Mobile&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Telefon komórkowy</string>
				<string>Komórka</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Pager&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>pager</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Numer kierunkowy</string>
				<string>Numer kier.</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Telefon</string>
				<string>Tel.</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>Faks</string>
				<string>Numer faksu</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Organization</string>
			<key>FieldLabels</key>
			<array>
				<string>Organizacja</string>
				<string>Instytucja</string>
				<string>Firma</string>
			</array>
		</dict>
	</array>
	<key>Synonyms</key>
	<dict>
		<key>Address</key>
		<dict>
			<key>Country</key>
			<array>
				<array>
					<string>PL</string>
					<string>Polska</string>
					<string>Rzeczpospolita Polska</string>
				</array>
				<array>
					<string>UK</string>
					<string>United Kingdom</string>
				</array>
			</array>
			<key>State</key>
			<array>
				<array>
					<string>Dolnośląskie</string>
					<string>DS</string>
				</array>
				<array>
					<string>Kujawsko-Pomorskie</string>
					<string>KP</string>
				</array>
				<array>
					<string>Lubuskie</string>
					<string>LB</string>
				</array>
				<array>
					<string>Łódzkie</string>
					<string>LD</string>
				</array>
				<array>
					<string>Lubelskie</string>
					<string>LU</string>
				</array>
				<array>
					<string>Mazowieckie</string>
					<string>MA</string>
				</array>
				<array>
					<string>Małopolskie</string>
					<string>MP</string>
				</array>
				<array>
					<string>Opolskie</string>
					<string>OP</string>
				</array>
				<array>
					<string>Podlaskie</string>
					<string>PD</string>
				</array>
				<array>
					<string>Podkarpackie</string>
					<string>PK</string>
				</array>
				<array>
					<string>Pomorskie</string>
					<string>PM</string>
				</array>
				<array>
					<string>Śląskie</string>
					<string>SL</string>
				</array>
				<array>
					<string>Świętokrzyskie</string>
					<string>SW</string>
				</array>
				<array>
					<string>Warmińsko-Mazurskie</string>
					<string>WM</string>
				</array>
				<array>
					<string>Wielkopolskie</string>
					<string>WP</string>
				</array>
				<array>
					<string>Zachodniopomorskie</string>
					<string>ZP</string>
				</array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
