<provider version="1.0" date="4th June 2004">
	<!-- Definition of variables. To use a variable in the rest of the file, use ${name-of-the-variable}. -->
	<properties>
		<property name="tomcat-install-dir" value="C:\Program Files (x86)\Glassfish3\glassfish\domains\domain1\applications"/>
		<property name="provider-install-dir" value="${tomcat-install-dir}\core"/>
		<property name="provider-conf-dir" value="${provider-install-dir}/WEB-INF/classes/org/egso/provider/conf"/>
		<property name="logs-dir" value="${provider-install-dir}/logs"/>
	</properties>

	<!-- Provider core options. -->
	<core>
		<!-- Rolename of the provider. -->
		<rolename>codem-provider</rolename>
		<roleversion>2.0</roleversion>
		<!-- Directories and files.
			tomcat-install-dir -> Directory where Tomcat is installed.
			validation-file -> Absolute path to the file validation.xml that
				describes the rules for the Query Validator Tool.
			archives-files -> Absolute path to the file archives.xml that
				describes the list of archives.
			archives-directory -> Absolute path to the directory where all
				archives descriptions files are stored.
			history-file -> Absolute path to the file history.xml that
				summarizes the changelog of the provider developpement.
			routetable-file -> Absolute path to the file routetable.xml that
				defines the list of parameters used by the provider to route queries.
			config-file -> Absolute path to the current file (config.xml).
		-->
		<tomcat-install-dir>${tomcat-install-dir}</tomcat-install-dir>
		<validation-file>${provider-conf-dir}/validation.xml</validation-file>
		<archives-files>${provider-conf-dir}/archives.xml</archives-files>
		<archives-directory>${provider-conf-dir}/archives/</archives-directory>
		<history-file>${provider-install-dir}/WEB-INF/history.xml</history-file>
		<routetable-file>${provider-conf-dir}/routetable.xml</routetable-file>
		<config-file>${provider-conf-dir}/config.xml</config-file>
	</core>

	<!-- Archives options: -->
	<archives>
		<!-- Defines, for each archive, if it must be loaded on the provider startup. -->
		<archive id="FTP-BBSO"              load-on-startup="true"/>
		<archive id="FTP-RHESSI"            load-on-startup="true"/>
		<archive id="FTP-YOHKOH"            load-on-startup="true"/>
		<archive id="FTP-NOBEYAMA"          load-on-startup="true"/>
		<archive id="SQL-MEDOC-SOHO"        load-on-startup="false"/>
		<archive id="POSTGRESQL-MEDOC-SOHO" load-on-startup="false"/>
		<archive id="SQL-NSO"               load-on-startup="false"/>
		<archive id="SQL-BASS2000"          load-on-startup="true"/>
		<archive id="WS-NSO"                load-on-startup="false"/>
		<archive id="WS-VSO"                load-on-startup="true"/>
		<archive id="UOC"                   load-on-startup="false"/>
		<archive id="SEC-SGAS"              load-on-startup="true"/>
		<archive id="SEC-GOES"              load-on-startup="true"/>
		<archive id="SEC-YOHKOH"            load-on-startup="true"/>
		<archive id="SEC-HESSI"             load-on-startup="true"/>
		<archive id="SEC-NOAA"              load-on-startup="true"/>
		<archive id="SEC-LASCO_CAT"         load-on-startup="true"/>
		<archive id="SEC-LASCO_LIST"        load-on-startup="true"/>
		<archive id="SEC-SRS"               load-on-startup="true"/>
		<archive id="SEC-DSD"               load-on-startup="true"/>
		<archive id="SEC-SIDC"              load-on-startup="true"/>
		<archive id="SEC-DRAO"              load-on-startup="true"/>
		<archive id="SEC-BAS"               load-on-startup="true"/>
		<archive id="SEC-SOHO"              load-on-startup="true"/>
		<archive id="HTTP-CME_LIST"         load-on-startup="true"/>
		<archive id="HTTP-GOES_SXI"         load-on-startup="true"/>
		<archive id="HTTP-SMEI"             load-on-startup="false"/>
		<sql>
			<!-- Defines the maximum number of results for each SQL query execution. -->
			<maximum-results>1000</maximum-results>
		</sql>
		<ftp>
			<!-- If the provider is not able to access passive FTP servers (due
				to firewall for example), the provider will send its FTP queries
				to a FTP-gateway. The FTP-gateway is a servlet, part of the
				provider that can execute FTP commands.
				In this case, the server side must be disabled (set to false), 
				and the client to true. The url of the gateway may be changed if
				needed.
				If the provider is able to access any FTP server, it is good to
				have it as a gateway. The server will be enabled, while the
				client is disabled. -->
			<gateway>
				<server enable="true"/>
				<client enable="false" url="http://codem.medoc-ias.u-psud.fr:8080/provider/ftpgateway"/>
			</gateway>
		</ftp>
		<web-services>
		</web-services>
	</archives>

	<!-- Services options. -->
	<services load-on-startup="true">
		<!-- List of directories where the provider will find the services that must be loaded. -->
		<directories>
			<dir>${provider-install-dir}/WEB-INF/services</dir>
		</directories>
		<!-- Options specific to the CoSEC service. -->
		<cosec>
			<not-available-image>http://astrogeology.usgs.gov/assets/wallpaper/sun.jpg</not-available-image>
		</cosec>
	</services>

	<!-- Monitor options. -->
	<monitor>
		<!-- Maximum number of exceptions that must be reported and remembered. -->
		<maximum-exceptions>25</maximum-exceptions>
		<!-- Indicates the interval between each report. The attribute every
			specifies the number of time unit, unit attribute defines the time
			unit, which can be MINUTE, HOUR or DAY. -->
		<report every="1" unit="DAY"/>
	</monitor>
</provider>

