<web-app>
	<display-name>Helio Monitoring Service</display-name>
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			WEB-INF/applicationContext-monitoringservice.xml
		</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>

	<servlet>
		<servlet-name>MonitoringService</servlet-name>
		<display-name>CXF Servlet</display-name>
		<servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>MonitoringService</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>
</web-app>