<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/fi/</string>
						<key>title</key>
						<string>Apple</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>94E01792-0199-45A1-BA5E-50AF18230A50</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo!</string>
					</dict>
					<key>URLString</key>
					<string>http://www.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>02565339-D74B-4164-872F-7E368F7944A0</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maps.google.fi/</string>
						<key>title</key>
						<string>Google Maps</string>
					</dict>
					<key>URLString</key>
					<string>http://maps.google.fi/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>C31F752F-8312-4A9F-9871-D3475CAFAB59</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://fi.wikipedia.org/</string>
						<key>title</key>
						<string>Wikipedia</string>
					</dict>
					<key>URLString</key>
					<string>http://fi.wikipedia.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>7DB62E12-4DF7-42AD-81A0-5BA2A4E4E65D</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.itviikko.fi/</string>
								<key>title</key>
								<string>ITviikko</string>
							</dict>
							<key>URLString</key>
							<string>http://www.itviikko.fi/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>40F27B7A-50F0-4EBE-AF85-FE54FA522AEC</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.nelonen.fi/uutiset/</string>
								<key>title</key>
								<string>Nelonen - uutiset</string>
							</dict>
							<key>URLString</key>
							<string>http://www.nelonen.fi/uutiset/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>1F37ED94-900B-4A70-934E-C3C61550E31C</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.hs.fi/</string>
								<key>title</key>
								<string>Helsingin sanomat</string>
							</dict>
							<key>URLString</key>
							<string>http://www.hs.fi/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>54860E04-1E67-44A6-A15F-940C8B3C99FB</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.iltasanomat.fi/</string>
								<key>title</key>
								<string>Ilta-Sanomat</string>
							</dict>
							<key>URLString</key>
							<string>http://www.iltasanomat.fi/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>B1A485D1-3230-40BA-9E22-1DB68E34E3D2</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.hbl.fi/</string>
								<key>title</key>
								<string>Hufvudstadsbladet</string>
							</dict>
							<key>URLString</key>
							<string>http://www.hbl.fi/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>32EB1CD5-636D-4C0E-B4A9-C43CE8A96B43</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.yle.fi/uutiset/</string>
								<key>title</key>
								<string>YLE - uutiset</string>
							</dict>
							<key>URLString</key>
							<string>http://www.yle.fi/uutiset/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>9BB9756F-5547-426D-ADC9-D8CDCB110D62</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.mtv3.fi/uutiset/</string>
								<key>title</key>
								<string>MTV3 - uutiset</string>
							</dict>
							<key>URLString</key>
							<string>http://www.mtv3.fi/uutiset/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>6021166E-A277-4E2E-BC9D-1A617B7D2EC1</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.kauppalehti.fi/</string>
								<key>title</key>
								<string>Kauppalehti</string>
							</dict>
							<key>URLString</key>
							<string>http://www.kauppalehti.fi/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>E1EDA82E-9FDA-4286-A49B-EDBFB004E90F</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.digitoday.fi/</string>
								<key>title</key>
								<string>Digitoday</string>
							</dict>
							<key>URLString</key>
							<string>http://www.digitoday.fi/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>745AD870-CF1B-43A2-897E-8FA2AE5B1961</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.macsanomat.fi/</string>
								<key>title</key>
								<string>Macsanomat</string>
							</dict>
							<key>URLString</key>
							<string>http://www.macsanomat.fi/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>E7E6B975-906D-4733-AED8-A635A4F9724F</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Uutiset</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>BD94C140-CC62-4D6D-8D37-52AFCB90BD8A</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ebay.com/</string>
								<key>title</key>
								<string>eBay</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ebay.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>DCDD9FC6-39D7-403F-BD30-E658D1731424</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.amazon.com/</string>
								<key>title</key>
								<string>Amazon</string>
							</dict>
							<key>URLString</key>
							<string>http://www.amazon.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>F53C9F2F-618C-4A10-9DD5-03B5FE194C52</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.flickr.com/</string>
								<key>title</key>
								<string>Flickr</string>
							</dict>
							<key>URLString</key>
							<string>http://www.flickr.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>7F77DE09-71C7-4DAA-AEFD-9B5C08E3F0ED</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://helsinki.craigslist.org/</string>
								<key>title</key>
								<string>Craigslist</string>
							</dict>
							<key>URLString</key>
							<string>http://helsinki.craigslist.org/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>FB123217-03CF-43B5-BC91-0DB2863E8732</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Suositut</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>8AC6C24B-F41B-4C81-A6F3-3A9D9242B4FF</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Kirjanmerkkipalkki</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>659D9C47-0DF4-415E-8F42-A3288657DCAD</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Kirjanmerkkivalikko</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>F8916B97-7995-424F-8889-ACD4FA2CBA50</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Osoitekirja</string>
			<key>WebBookmarkIdentifier</key>
			<string>Address Book Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>1A2CEDEE-C70C-4A00-A3FD-02BDFED2CDDA</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bonjour</string>
			<key>WebBookmarkIdentifier</key>
			<string>Bonjour Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>E5FFA09B-A9E4-48C7-A632-217BDEAF4063</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Historia</string>
			<key>WebBookmarkIdentifier</key>
			<string>History Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>8D17AE42-760E-4642-96CD-4977FABBB77A</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Kaikki RSS-syötteet</string>
			<key>WebBookmarkIdentifier</key>
			<string>RSS Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>CEC96C34-C63F-4B81-91E5-0D3EB5935EAE</string>
		</dict>
	</array>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkUUID</key>
	<string>ABD02749-2452-4E6B-97D9-F2D1695E8EBB</string>
</dict>
</plist>
