<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app> 
    <display-name>HELIO-Security-Example-Service</display-name>
    <description>Simple Secured Example Service for HELIO</description>

	
	<!-- Where Spring is to load its bean definitions from. -->
    <context-param>
		<!--  This is the place where Spring gets its configuration  -->
        <param-name>contextConfigLocation</param-name>
        <param-value>
        	<!-- Create here either unsecure/secure configuration here -->
        	classpath:application-context.xml
        </param-value>
    </context-param>

	<!-- Add the filter and filter mapping here -->
	
    <!-- General Spring Hook -->
    <listener>
        <listener-class>
            org.springframework.web.context.ContextLoaderListener
        </listener-class>
    </listener>

	<!--  These lines are used by the Apache servlet -->
    <servlet>
        <servlet-name>CXFServlet</servlet-name>
        <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>CXFServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>  
</web-app>