<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Mappings</key>
	<array>
		<dict>
			<key>ABProperty</key>
			<string>First</string>
			<key>FieldLabels</key>
			<array>
				<string>nome</string>
				<string>first name</string>
				<string>fname</string>
				<string>firstname</string>
				<string>given name</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Middle</string>
			<key>FieldLabels</key>
			<array>
				<string>secondo nome</string>
				<string>middleinitial</string>
				<string>middle name</string>
				<string>middlename</string>
				<string>middle</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Last</string>
			<key>FieldLabels</key>
			<array>
				<string>cognome</string>
				<string>last name</string>
				<string>lname</string>
				<string>lastname</string>
				<string>surname</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<array>
				<string>Nome</string>
				<string>Secondo nome</string>
				<string>Cognome</string>
				<string>Suffisso</string>
			</array>
			<key>FieldLabels</key>
			<array>
				<string>nome</string>
			</array>
			<key>ProxyABProperty</key>
			<string>FullNameComposite</string>
			<key>ABComputedProperty</key>
			<string>_realCompositeName</string>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Birthday</string>
			<key>FieldLabels</key>
			<array>
				<string>compleanno</string>
				<string>data di nascita</string>
				<string>nato il</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>JobTitle</string>
			<key>FieldLabels</key>
			<array>
				<string>titolo</string>
				<string>jobtitle</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Email</string>
			<key>FieldLabels</key>
			<array>
				<string>email</string>
				<string>e-mail</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>via</string>
				<string>street address</string>
				<string>streetaddress</string>
				<string>indirizzo1</string>
				<string>indirizzo 1</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Street</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>indirizzo</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>City</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>città</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>State</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>stato</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>ZIP</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>cap</string>
				<string>codice postale</string>
				<string>zip code</string>
				<string>postalcode</string>
				<string>postal code</string>
			</array>
		</dict>
		<dict>
			<key>ABKey</key>
			<string>Country</string>
			<key>ABProperty</key>
			<string>Address</string>
			<key>FieldLabels</key>
			<array>
				<string>paese</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Home&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>telefono di casa</string>
				<string>telefono casa</string>
				<string>eveningphone</string>
				<string>evening phone</string>
				<string>home area code</string>
				<string>home areacode</string>
				<string>homeareacode</string>
				<string>evening area code</string>
				<string>evening areacode</string>
				<string>eveningareacode</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Work&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>telefono ufficio</string>
				<string>telefono lavoro</string>
				<string>dayphone</string>
				<string>day phone</string>
				<string>daytime phone</string>
				<string>companyphone</string>
				<string>company phone</string>
				<string>businessphone</string>
				<string>business phone</string>
				<string>work area code</string>
				<string>work areacode</string>
				<string>workareacode</string>
				<string>day area code</string>
				<string>day areacode</string>
				<string>dayareacode</string>
				<string>company area code</string>
				<string>company areacode</string>
				<string>companyareacode</string>
				<string>business area code</string>
				<string>business areacode</string>
				<string>businessareacode</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Mobile&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>cellulare</string>
				<string>mobile phone</string>
				<string>cellphone</string>
				<string>cell phone</string>
				<string>mobile area code</string>
				<string>mobile areacode</string>
				<string>mobileareacode</string>
				<string>cell area code</string>
				<string>cell areacode</string>
				<string>cellareacode</string>
			</array>
		</dict>
		<dict>
			<key>ABLabel</key>
			<string>_$!&lt;Pager&gt;!$_</string>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>pagerphone</string>
				<string>pager phone</string>
				<string>pager area code</string>
				<string>pager areacode</string>
				<string>pagerareacode</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>cap</string>
				<string>areacode</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>telefono</string>
			</array>
			<key>SearchPass</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Phone</string>
			<key>FieldLabels</key>
			<array>
				<string>fax</string>
			</array>
		</dict>
		<dict>
			<key>ABProperty</key>
			<string>Organization</string>
			<key>FieldLabels</key>
			<array>
				<string>organizzazione</string>
				<string>compagnia</string>
			</array>
		</dict>
	</array>
	<key>Synonyms</key>
	<dict>
		<key>Address</key>
		<dict>
			<key>Country</key>
			<array>
				<array>
					<string>USA</string>
					<string>US</string>
					<string>Stati Uniti</string>
					<string>Stati Uniti d'America</string>
				</array>
				<array>
					<string>UK</string>
					<string>Regno Unito</string>
				</array>
			</array>
			<key>State</key>
			<array>
				<array>
					<string>Alabama</string>
					<string>AL</string>
				</array>
				<array>
					<string>Alaska</string>
					<string>AK</string>
				</array>
				<array>
					<string>Alberta</string>
					<string>AB</string>
				</array>
				<array>
					<string>Arizona</string>
					<string>AZ</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
				<array>
					<string>Yukon</string>
					<string>YT</string>
				</array>
			</array>
		</dict>
	</dict>
</dict>
</plist>
