<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/it/</string>
						<key>title</key>
						<string>Apple</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/it/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>80F441F7-AF46-4BA0-A3CF-F1D51A4EA1BF</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://it.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo!</string>
					</dict>
					<key>URLString</key>
					<string>http://it.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>CDC53429-A460-4D37-81AC-CD55E0174D12</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maps.google.it/</string>
						<key>title</key>
						<string>Google Maps</string>
					</dict>
					<key>URLString</key>
					<string>http://maps.google.it/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>CBD92E6B-27A8-48FE-BC1A-ED4015105E4A</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://it.youtube.com/</string>
						<key>title</key>
						<string>YouTube</string>
					</dict>
					<key>URLString</key>
					<string>http://it.youtube.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>58646148-FA80-44D3-8653-4AAF27AE820E</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://it.wikipedia.org/</string>
						<key>title</key>
						<string>Wikipedia</string>
					</dict>
					<key>URLString</key>
					<string>http://it.wikipedia.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>71085337-5ADA-438B-AFAF-4310E5AFF128</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.repubblica.it/</string>
								<key>title</key>
								<string>La Repubblica</string>
							</dict>
							<key>URLString</key>
							<string>http://www.repubblica.it/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>CBF0E1A9-1C04-4077-8CA1-1D2A23E23C31</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.cnn.com/</string>
								<key>title</key>
								<string>CNN</string>
							</dict>
							<key>URLString</key>
							<string>http://www.cnn.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>2E5C6804-265F-48B2-ACF1-463E9E0BC60A</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>feed://www.washingtonpost.com/wp-dyn/rss/linkset/2005/03/24/LI2005032400102.xml</string>
								<key>title</key>
								<string>Washington Post</string>
							</dict>
							<key>URLString</key>
							<string>feed://www.washingtonpost.com/wp-dyn/rss/linkset/2005/03/24/LI2005032400102.xml</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>78EC75D7-54AD-4CC5-A1FB-9D987F2D6BBF</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ilsole24ore.com/</string>
								<key>title</key>
								<string>Il Sole 24 Ore</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ilsole24ore.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>7A9E864F-413E-4065-BEBB-9E5769732366</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.bbc.co.uk/</string>
								<key>title</key>
								<string>BBC NEWS</string>
							</dict>
							<key>URLString</key>
							<string>http://news.bbc.co.uk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>1532653E-8AFE-4C2A-9C45-BA98E37ED304</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>feed://wired.com/news/feeds/rss2/0,2610,3,00.xml</string>
								<key>title</key>
								<string>Wired</string>
							</dict>
							<key>URLString</key>
							<string>feed://wired.com/news/feeds/rss2/0,2610,3,00.xml</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>0A98EDC5-C689-47EF-8070-123FEEDB45B1</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.corriere.it/</string>
								<key>title</key>
								<string>Corriere della Sera</string>
							</dict>
							<key>URLString</key>
							<string>http://www.corriere.it/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>4E74CEFC-4F53-4504-8719-C8BE7D2BE956</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Notizie</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>8A2DE30F-2032-44F2-AAF7-AB262363F156</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ebay.it/</string>
								<key>title</key>
								<string>eBay.it - abbigliamento, auto, cellulari, dvd, moto, tv, palmari e pc all'asta o a prezzo fisso</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ebay.it/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>CCBF33D0-0238-4260-89E4-371396099774</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.amazon.com/</string>
								<key>title</key>
								<string>Amazon</string>
							</dict>
							<key>URLString</key>
							<string>http://www.amazon.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>BECD1186-B0C3-41E2-BF15-6CD9C6CD681B</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.flickr.com/</string>
								<key>title</key>
								<string>Flickr</string>
							</dict>
							<key>URLString</key>
							<string>http://www.flickr.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>9A3B6D3B-E748-415A-8E3C-CDAFD5009250</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.expedia.it/</string>
								<key>title</key>
								<string>Expedia</string>
							</dict>
							<key>URLString</key>
							<string>http://www.expedia.it/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>55236D93-DFA2-4565-BD45-BE13373A808D</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://geo.craigslist.org/iso/it</string>
								<key>title</key>
								<string>Craigslist</string>
							</dict>
							<key>URLString</key>
							<string>http://geo.craigslist.org/iso/it</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>7C371CB8-6F88-4776-B83A-F7C70A18A577</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.macitynet.it/macity/</string>
								<key>title</key>
								<string>Mac City</string>
							</dict>
							<key>URLString</key>
							<string>http://www.macitynet.it/macity/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>08B0CEE7-E211-4752-9931-C20A0A677D5F</string>
						</dict>
					</array>
					<key>Title</key>
					<string>I più conosciuti</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>512FECF7-917C-45F0-9DEF-B3CAFF0C9163</string>
				</dict>
			</array>
			<key>Title</key>
			<string>BookmarksBar</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>36B62F66-393C-4E24-A91C-CD9849289236</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>BookmarksMenu</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>1BD51781-2205-4179-8D9E-B04409592B2A</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Rubrica Indirizzi</string>
			<key>WebBookmarkIdentifier</key>
			<string>Address Book Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>C2E7530A-6A9B-4CDF-99A4-AC85A72C4A42</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bonjour</string>
			<key>WebBookmarkIdentifier</key>
			<string>Bonjour Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>06C8CBB9-7993-4CBF-A696-942FF53765FF</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Cronologia</string>
			<key>WebBookmarkIdentifier</key>
			<string>History Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>7D805478-AC97-4ABC-8548-FD9C22511C46</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Tutti i feed RSS</string>
			<key>WebBookmarkIdentifier</key>
			<string>RSS Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>10F36417-F0BA-4E6C-81E6-01FA1F0F5DA8</string>
		</dict>
	</array>
	<key>Title</key>
	<string></string>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkUUID</key>
	<string>95C9D9DC-4A55-4BA5-B876-BB801E3E692A</string>
</dict>
</plist>
