<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com.cn/</string>
						<key>title</key>
						<string>Apple中国</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>1B9CFA40-6DCB-421B-B519-EE0D1D587E43</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://cn.yahoo.com/</string>
						<key>title</key>
						<string>雅虎中国</string>
					</dict>
					<key>URLString</key>
					<string>http://cn.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>74976241-DD12-4C55-9505-B857117B1462</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://ditu.google.cn/</string>
						<key>title</key>
						<string>Google 地图</string>
					</dict>
					<key>URLString</key>
					<string>http://ditu.google.cn/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>26BF06A1-03DF-4278-919C-B7713D4ADEDA</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.youtube.com/</string>
						<key>title</key>
						<string>YouTube</string>
					</dict>
					<key>URLString</key>
					<string>http://www.youtube.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>DFE7D45E-3FB8-408B-8EE3-6C5A5FCEE004</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://zh.wikipedia.org/</string>
						<key>title</key>
						<string>Wikipedia</string>
					</dict>
					<key>URLString</key>
					<string>http://zh.wikipedia.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>E33D07D2-FEC9-4CB4-A95A-F26A8234B37D</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.chinanews.com.cn/</string>
								<key>title</key>
								<string>中国新闻网</string>
							</dict>
							<key>URLString</key>
							<string>http://www.chinanews.com.cn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>F52DCFA2-672E-4FB8-961A-83B6C56662D0</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.sina.com.cn/</string>
								<key>title</key>
								<string>新浪网新闻中心</string>
							</dict>
							<key>URLString</key>
							<string>http://news.sina.com.cn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>4A97F523-9F3B-4691-B9C9-F6D649774AB1</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.sohu.com/</string>
								<key>title</key>
								<string>搜狐网站新闻中心</string>
							</dict>
							<key>URLString</key>
							<string>http://news.sohu.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>B84129CD-B76B-4347-BFA8-DFD5360C7431</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.163.com/</string>
								<key>title</key>
								<string>网易新闻频道</string>
							</dict>
							<key>URLString</key>
							<string>http://news.163.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>9D61B14F-EB9C-4E78-AAE3-F53E0842D415</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://sports.tom.com/</string>
								<key>title</key>
								<string>TOM体育</string>
							</dict>
							<key>URLString</key>
							<string>http://sports.tom.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>D4A4104C-10F7-423E-B9C9-ED673CE41E43</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.tom.com/</string>
								<key>title</key>
								<string>TOM新闻</string>
							</dict>
							<key>URLString</key>
							<string>http://news.tom.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>9DC64AA9-9E87-4788-9DE2-0DB65DF9DEDD</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.baidu.com/</string>
								<key>title</key>
								<string>Baidu 新闻</string>
							</dict>
							<key>URLString</key>
							<string>http://news.baidu.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>06D89651-4913-4CB2-A657-1BB621C7F0B4</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://cn.news.yahoo.com/</string>
								<key>title</key>
								<string>雅虎资讯</string>
							</dict>
							<key>URLString</key>
							<string>http://cn.news.yahoo.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>162FD1D5-022E-4956-99B4-688023480B0B</string>
						</dict>
					</array>
					<key>Title</key>
					<string>新闻</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>6F4E1D1A-D0EE-411E-850C-3C56AA438C4F</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ebay.cn/</string>
								<key>title</key>
								<string>eBay</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ebay.cn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>140DADFD-73D8-4BBD-A97D-F9E7C8B1946C</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.amazon.cn/</string>
								<key>title</key>
								<string>Amazon</string>
							</dict>
							<key>URLString</key>
							<string>http://www.amazon.cn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>307265CA-42CC-482D-A4F2-1990D8AD595A</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.flickr.com/</string>
								<key>title</key>
								<string>Flickr</string>
							</dict>
							<key>URLString</key>
							<string>http://www.flickr.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>C04442DC-C8CB-4FFE-8899-D8B69B7D5253</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ctrip.com/</string>
								<key>title</key>
								<string>携程旅行网</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ctrip.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>0C9E4E54-785E-4DCB-89DC-4F193FC29F10</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.cnto.com/</string>
								<key>title</key>
								<string>中国旅行热线</string>
							</dict>
							<key>URLString</key>
							<string>http://www.cnto.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>50AFD2F2-DAEB-4350-AF82-7B9BE42F0105</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.disney.com.cn/</string>
								<key>title</key>
								<string>中国迪士尼</string>
							</dict>
							<key>URLString</key>
							<string>http://www.disney.com.cn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>FE9E1016-3707-4A78-B9CC-77EF46BDF6B6</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://geo.craigslist.org/iso/cn</string>
								<key>title</key>
								<string>Craigslist</string>
							</dict>
							<key>URLString</key>
							<string>http://geo.craigslist.org/iso/cn</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>FC771B31-DAAF-46E2-8578-03561A112BF9</string>
						</dict>
					</array>
					<key>Title</key>
					<string>热门</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>BF440B6F-4850-4A82-B246-D3263AA322AC</string>
				</dict>
			</array>
			<key>Title</key>
			<string>BookmarksBar</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>D5B1B095-2545-4080-8FE0-2812B2B9F42E</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>BookmarksMenu</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>9B0DB472-8864-4CDB-8E02-8C62B8B631DD</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>地址簿</string>
			<key>WebBookmarkIdentifier</key>
			<string>Address Book Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>32DC779E-647E-49EA-8A48-69AB914FAC32</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bonjour</string>
			<key>WebBookmarkIdentifier</key>
			<string>Bonjour Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>E4BBA733-63D6-4989-AC95-1341971301D8</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>历史记录</string>
			<key>WebBookmarkIdentifier</key>
			<string>History Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>72962469-52DB-4BD2-BFB3-1A575292FB0F</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>所有 RSS 提要</string>
			<key>WebBookmarkIdentifier</key>
			<string>RSS Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>46C2242E-C350-49E1-A2A3-8BD016DBB861</string>
		</dict>
	</array>
	<key>Title</key>
	<string></string>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkUUID</key>
	<string>F6828A5A-8FDE-4F3C-992E-ADA5EB1E5A9F</string>
</dict>
</plist>
