<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/se/</string>
						<key>title</key>
						<string>Apple</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>C656B5FB-4003-4EF1-AF36-059E70662D12</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://se.yahoo.com/</string>
						<key>title</key>
						<string>Yahoo!</string>
					</dict>
					<key>URLString</key>
					<string>http://se.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>D9243917-8D0C-43C5-B5B3-30F7E70800E1</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://maps.google.se/</string>
						<key>title</key>
						<string>Google Maps</string>
					</dict>
					<key>URLString</key>
					<string>http://maps.google.se/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>DCAF809B-168A-480A-BE7A-C5A0769B38AD</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.youtube.com/</string>
						<key>title</key>
						<string>YouTube</string>
					</dict>
					<key>URLString</key>
					<string>http://www.youtube.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>9E020741-D18B-4D5C-BC81-A8B8B0EC02A7</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://sv.wikipedia.org/</string>
						<key>title</key>
						<string>Wikipedia</string>
					</dict>
					<key>URLString</key>
					<string>http://sv.wikipedia.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>A2B10753-8F44-4F1C-BB13-636EEF5A010A</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.aftonbladet.se/</string>
								<key>title</key>
								<string>Aftonbladet</string>
							</dict>
							<key>URLString</key>
							<string>http://www.aftonbladet.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>5431F3F9-36DC-45DD-B890-38D4C3C56903</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.expressen.se/</string>
								<key>title</key>
								<string>Expressen</string>
							</dict>
							<key>URLString</key>
							<string>http://www.expressen.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>99FCE105-5245-4372-A3ED-FC2D84E795E6</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.svd.se/</string>
								<key>title</key>
								<string>Svenska Dagbladet</string>
							</dict>
							<key>URLString</key>
							<string>http://www.svd.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>F067EDC2-9CB4-46C2-8685-346CE4D4C889</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.dn.se/</string>
								<key>title</key>
								<string>Dagens Nyheter</string>
							</dict>
							<key>URLString</key>
							<string>http://www.dn.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>881098B6-8976-4C03-9946-32AB04B40775</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.gp.se/</string>
								<key>title</key>
								<string>Göteborgs-Posten</string>
							</dict>
							<key>URLString</key>
							<string>http://www.gp.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>1A9E1E76-AEED-4DB8-A938-43EF00FB84DF</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.di.se/</string>
								<key>title</key>
								<string>Dagens Industri</string>
							</dict>
							<key>URLString</key>
							<string>http://www.di.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>EA66609B-B61A-4294-8080-6326BD5A29F2</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://edition.cnn.com/</string>
								<key>title</key>
								<string>CNN</string>
							</dict>
							<key>URLString</key>
							<string>http://edition.cnn.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>DDB6CEEA-23ED-4F32-AF31-EC9707B3048F</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://news.bbc.co.uk/</string>
								<key>title</key>
								<string>BBC NEWS</string>
							</dict>
							<key>URLString</key>
							<string>http://news.bbc.co.uk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>1D4DEEF6-585D-4B34-826C-32FEA39DA2E6</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Nyheter</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>4DC5D2BE-409E-46F9-906F-7D0F0799B0F4</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.blocket.se/</string>
								<key>title</key>
								<string>Blocket</string>
							</dict>
							<key>URLString</key>
							<string>http://www.blocket.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>DD7C8109-522A-42B1-85FB-1D5174FBDB8E</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.ebaysweden.com/</string>
								<key>title</key>
								<string>eBay</string>
							</dict>
							<key>URLString</key>
							<string>http://www.ebaysweden.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>4BD1C92E-4E2D-44D2-B889-4934F3C93292</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.amazon.co.uk/</string>
								<key>title</key>
								<string>Amazon</string>
							</dict>
							<key>URLString</key>
							<string>http://www.amazon.co.uk/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>49DD99CF-1D09-4E66-A416-3968C0D2FCEB</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.flickr.com/</string>
								<key>title</key>
								<string>Flickr</string>
							</dict>
							<key>URLString</key>
							<string>http://www.flickr.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>DB15BD0B-749C-4A9D-B6BC-E24A3327CBFC</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.hitta.se/</string>
								<key>title</key>
								<string>hitta.se</string>
							</dict>
							<key>URLString</key>
							<string>http://www.hitta.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>866C6BBE-AB56-4BA5-A7E3-5E3A913EB11B</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.facebook.com/</string>
								<key>title</key>
								<string>FaceBook</string>
							</dict>
							<key>URLString</key>
							<string>http://www.facebook.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>7562BA7F-AB15-4560-90C5-34308A8E6BBF</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.lunarstorm.se/</string>
								<key>title</key>
								<string>LunarStorm</string>
							</dict>
							<key>URLString</key>
							<string>http://www.lunarstorm.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>F84C9ED1-FBD1-45AC-AC1A-5AF85403779D</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.blip.se/</string>
								<key>title</key>
								<string>Blip</string>
							</dict>
							<key>URLString</key>
							<string>http://www.blip.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>D7DBB502-1248-46A6-A572-6111A4316D11</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.smhi.se/</string>
								<key>title</key>
								<string>SMHI</string>
							</dict>
							<key>URLString</key>
							<string>http://www.smhi.se/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>F25BD6AE-65F4-489B-B047-02F05BB5A98F</string>
						</dict>
					</array>
					<key>Title</key>
					<string>Populära</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>C14D8268-D96E-4F9D-9350-2D462F65B4E9</string>
				</dict>
			</array>
			<key>Title</key>
			<string>Bokmärkesrad</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>68A67983-A90D-4006-8A95-96B18158A704</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bokmärkesmeny</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>E2B3DF08-3431-4ADF-BFF0-A995BBE78FD7</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Adressbok</string>
			<key>WebBookmarkIdentifier</key>
			<string>Address Book Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>6FBE7307-73B8-4496-B181-AC0FD5634888</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bonjour</string>
			<key>WebBookmarkIdentifier</key>
			<string>Bonjour Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>7DC7F4B7-0506-457D-83CF-8A3F32328413</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Historik</string>
			<key>WebBookmarkIdentifier</key>
			<string>History Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>366E5515-8559-47A4-98A8-AD9BAB0871F6</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Alla RSS-strömmar</string>
			<key>WebBookmarkIdentifier</key>
			<string>RSS Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>197F5722-7069-49B0-8FC1-2CC80BD17E91</string>
		</dict>
	</array>
	<key>Title</key>
	<string></string>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkUUID</key>
	<string>B26F1C7F-46D6-46D2-9849-21A9CDA427C0</string>
</dict>
</plist>
