<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Children</key>
	<array>
		<dict>
			<key>Children</key>
			<array>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://www.apple.com/kr/</string>
						<key>title</key>
						<string>애플컴퓨터코리아</string>
					</dict>
					<key>URLString</key>
					<string>http://www.apple.com/kr/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>A53EB644-EB5E-4EC2-BB0B-304AC9D75A40</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kr.yahoo.com/</string>
						<key>title</key>
						<string>야후! 코리아</string>
					</dict>
					<key>URLString</key>
					<string>http://kr.yahoo.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>4E8B8DE2-6D1A-4522-BE2F-E80E634A7F50</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://kr.youtube.com/</string>
						<key>title</key>
						<string>YouTube</string>
					</dict>
					<key>URLString</key>
					<string>http://kr.youtube.com/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>43BEC39E-AE9D-47BE-93B0-5466EB3EBC8B</string>
				</dict>
				<dict>
					<key>URIDictionary</key>
					<dict>
						<key></key>
						<string>http://ko.wikipedia.org/</string>
						<key>title</key>
						<string>위키백과</string>
					</dict>
					<key>URLString</key>
					<string>http://ko.wikipedia.org/</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeLeaf</string>
					<key>WebBookmarkUUID</key>
					<string>0B8A391C-1CF3-4E72-8B03-6637C9A1AC43</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.joins.com/cnn/</string>
								<key>title</key>
								<string>CNN 한글뉴스</string>
							</dict>
							<key>URLString</key>
							<string>http://www.joins.com/cnn/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>A1D5BB39-E0F9-45B9-B819-967D8CD20C96</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.chosun.com/</string>
								<key>title</key>
								<string>조선일보</string>
							</dict>
							<key>URLString</key>
							<string>http://www.chosun.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>0E96D615-F081-4AF4-8763-D8E7A4198A7C</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.joins.com/</string>
								<key>title</key>
								<string>중앙일보</string>
							</dict>
							<key>URLString</key>
							<string>http://www.joins.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>B2A8A245-A51A-46FB-9125-816C6C09EC50</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://donga.com/</string>
								<key>title</key>
								<string>동아일보</string>
							</dict>
							<key>URLString</key>
							<string>http://donga.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>C314B269-32F0-43F8-B4D0-782C1476DD47</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.hani.co.kr/</string>
								<key>title</key>
								<string>한겨레</string>
							</dict>
							<key>URLString</key>
							<string>http://www.hani.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>64BD35C8-4CA5-4EC0-82CC-2F318F6E9102</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.zdnet.co.kr/</string>
								<key>title</key>
								<string>ZDNet Korea</string>
							</dict>
							<key>URLString</key>
							<string>http://www.zdnet.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>6781EE9E-2182-4FE0-9B42-A39E1A5B4912</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.yonhapnews.co.kr/</string>
								<key>title</key>
								<string>연합뉴스</string>
							</dict>
							<key>URLString</key>
							<string>http://www.yonhapnews.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>2D9614D4-E264-4E8A-A77F-90813063AA20</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>feed://rss.joins.com/joins_news_list.xml</string>
								<key>title</key>
								<string>Joins</string>
							</dict>
							<key>URLString</key>
							<string>feed://rss.joins.com/joins_news_list.xml</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>0FDDEFEB-9DAD-411D-800F-66417CA18F3D</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>feed://media.ohmynews.com/rss/ohmynews.xml</string>
								<key>title</key>
								<string>OhMyNews</string>
							</dict>
							<key>URLString</key>
							<string>feed://media.ohmynews.com/rss/ohmynews.xml</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>BF0518D8-CE40-4FEF-9822-4A766FF4E620</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>feed://media.ohmynews.com/rss/eng_ohmynews.xml</string>
								<key>title</key>
								<string>Ohmynews International</string>
							</dict>
							<key>URLString</key>
							<string>feed://media.ohmynews.com/rss/eng_ohmynews.xml</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>D5892649-B4A4-4069-B34A-954BC2E59A03</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>feed://kr.rss.news.yahoo.com/Yahoo_nocut1001.xml</string>
								<key>title</key>
								<string>Yahoo! news</string>
							</dict>
							<key>URLString</key>
							<string>feed://kr.rss.news.yahoo.com/Yahoo_nocut1001.xml</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>E356096F-8E32-4E79-A435-D1DEDAEC177A</string>
						</dict>
					</array>
					<key>Title</key>
					<string>뉴스</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>A2A7042A-663A-42D2-BE70-935542133DFC</string>
				</dict>
				<dict>
					<key>Children</key>
					<array>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.interpark.com/malls/index.html</string>
								<key>title</key>
								<string>인터파크</string>
							</dict>
							<key>URLString</key>
							<string>http://www.interpark.com/malls/index.html</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>918347DA-4E3D-4744-BDEA-D229B60150D2</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.flickr.com/</string>
								<key>title</key>
								<string>Flickr</string>
							</dict>
							<key>URLString</key>
							<string>http://www.flickr.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>8C784118-C4AB-4AFA-9543-06AA75DCE5EA</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.daum.net/</string>
								<key>title</key>
								<string>다음</string>
							</dict>
							<key>URLString</key>
							<string>http://www.daum.net/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>B7F948D6-6879-433C-856B-8F5D409FFA02</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.naver.com/</string>
								<key>title</key>
								<string>네이버</string>
							</dict>
							<key>URLString</key>
							<string>http://www.naver.com/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>8A8F1AB0-3AED-4944-9C7C-0E0202C03D3B</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://www.jobkorea.co.kr/</string>
								<key>title</key>
								<string>잡코리아</string>
							</dict>
							<key>URLString</key>
							<string>http://www.jobkorea.co.kr/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>81F0110E-C085-4A65-9D73-BB63315BD356</string>
						</dict>
						<dict>
							<key>URIDictionary</key>
							<dict>
								<key></key>
								<string>http://seoul.craigslist.org/</string>
								<key>title</key>
								<string>Craigslist</string>
							</dict>
							<key>URLString</key>
							<string>http://seoul.craigslist.org/</string>
							<key>WebBookmarkType</key>
							<string>WebBookmarkTypeLeaf</string>
							<key>WebBookmarkUUID</key>
							<string>F8B03A41-D1ED-4E34-978F-54C2B8CBB519</string>
						</dict>
					</array>
					<key>Title</key>
					<string>인기 사이트</string>
					<key>WebBookmarkType</key>
					<string>WebBookmarkTypeList</string>
					<key>WebBookmarkUUID</key>
					<string>58D5C930-3CAA-43C3-B3C3-200CADA77535</string>
				</dict>
			</array>
			<key>Title</key>
			<string>BookmarksBar</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>D5B1B095-2545-4080-8FE0-2812B2B9F42E</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>BookmarksMenu</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeList</string>
			<key>WebBookmarkUUID</key>
			<string>9B0DB472-8864-4CDB-8E02-8C62B8B631DD</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>주소록</string>
			<key>WebBookmarkIdentifier</key>
			<string>Address Book Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>B1D780A6-62BE-4A0E-87A8-28DB5FA54C1C</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>Bonjour</string>
			<key>WebBookmarkIdentifier</key>
			<string>Bonjour Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>F1D1C14D-EBD9-4781-BF96-DC771BBF3024</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>방문 기록</string>
			<key>WebBookmarkIdentifier</key>
			<string>History Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>9832E5CB-E569-476F-87DB-1C7EBD0252E8</string>
		</dict>
		<dict>
			<key>Title</key>
			<string>모든 RSS 피드</string>
			<key>WebBookmarkIdentifier</key>
			<string>RSS Bookmark Proxy Identifier</string>
			<key>WebBookmarkType</key>
			<string>WebBookmarkTypeProxy</string>
			<key>WebBookmarkUUID</key>
			<string>22C9803B-30AB-43E1-BE19-ED1119ABCBA7</string>
		</dict>
	</array>
	<key>Title</key>
	<string></string>
	<key>WebBookmarkFileVersion</key>
	<integer>1</integer>
	<key>WebBookmarkType</key>
	<string>WebBookmarkTypeList</string>
	<key>WebBookmarkUUID</key>
	<string>F6828A5A-8FDE-4F3C-992E-ADA5EB1E5A9F</string>
</dict>
</plist>
