/* CSS Document */
/* Background styles start here */
.bgtab
{
	background-color: #5AC0E8;
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
}
.bgtab a:link
{
	background-color: #5AC0E8;
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.bgtab a:hover
{
	background-color: #5AC0E8;
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.bgtab a:visited
{
	background-color: #5AC0E8;
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.bgtab a:active
{
	background-color: #5AC0E8;
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}


.highlightedbgtab
{
	background-color: #1180AC;
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
}
.highlightedbgtab a:link
{
	background-color: #1180AC;
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.highlightedbgtab a:hover
{
	background-color: #1180AC;
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.highlightedbgtab a:visited
{
	background-color: #1180AC;
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.highlightedbgtab a:active
{
	background-color: #1180AC;
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}



.bgline
{
	background-color: #86A6CC;
}
.bgeditsubmenu
{
	background-color: #1180AC;
}
.bgPopupButtonStrip
{
	background-color: #5099CD;
}
.bgLGreen
{
	background-color: #87DBF3;
}
.bgDBlue
{
	background-color: #558DC8;
}
/* Text styles start here */
.txtwhite
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #FFFFFF;
}
.txtwhiteB
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
}
.txtblack
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
}
.txtblackB
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
}
.txtblackVerdanaB
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: bold;
	color: #000000;
}
.txtblackVerdanaBP
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: bold;
	color: #000000;
	padding-left: 10px;
}
.txtblackVerdanaP
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
	padding-left: 10px;
}
.txtblackP
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: normal;
	color: #000000;
	padding-left: 10px;
}
.txtblackBP
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	padding-left: 10px;
}
.txtError
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: red;
	padding-left: 5px;
}

.txtMsg
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: blue;
	padding-left: 5px;
}

.txtSubHeading
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #000000;
	background-color: #87DBF3;
	padding-left: 10px;
}
.txtHeading
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #558DC8;
	padding-left: 10px;
}

.HeadingPage
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #558DC8;
}
.HeadingPage a:link
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #558DC8;
}
.HeadingPage a:hover
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #558DC8;
}
.HeadingPage a:visited
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #558DC8;
}
.HeadingPage a:active
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #558DC8;
}








.txtPopupHead
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #558DC8;
	padding-left: 10px;
}
.txtFooter
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
}
.txtSearchHeading
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6EAED5;
}

.txtColumnPropertyHeading
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4690DF;
}

.SearchHeading a:link
{
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6EAED5;
	text-decoration: underline;
}
.SearchHeading a:hover
{
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6EAED5;
	text-decoration: underline;
}
.SearchHeading a:visited
{
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6EAED5;
	text-decoration: underline;
}
.SearchHeading a:active
{
	font-family: Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6EAED5;
	text-decoration: underline;
}
.txtPopupGridHeading
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #6EAED5;
}
.PopupDataRow
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
	background-color: #FFFFFF;
}
.PopupAltDataRow
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
	background-color: #C7E5FB;
}
.PopupSummaryRow
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	background-color: #FFFFCC;
}

.PopupAltDragCol
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
	background-color: #6F98D5;
}
.SelectionRow
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #437396;
}
/* Control styles start here */
.stylecombo 
	{ 
		background-color: #ffffff; 
		font-weight: normal; 
		font-size: 8pt; 
		color: #000000; 
		font-family: MS Sans Serif, Verdana;
	}
	
.stopWatch
	{
		background-color: #ffffff; 
		border-left: #000000 0px solid; 
		border-right: #000000 0px solid;
		border-top: #000000 0px solid; 
		border-bottom: #000000 0px solid;
		font-weight: bold; 
		font-size: 8pt; 
		color: #000000; 
		font-family: MS Sans Serif, Verdana;
	}

.textfield
	{
		background-color: #ffffff; 
		border-left: #000000 1px solid; 
		border-right: #000000 1px solid;
		border-top: #000000 1px solid; 
		border-bottom: #000000 1px solid;
		font-weight: normal; 
		font-size: 8pt; 
		color: #000000; 
		font-family: MS Sans Serif, Verdana;
	}
.filterTextfield
{
		background-color: #ffffff; 
		border-left: #000000 1px solid; 
		border-right: #000000 1px solid;
		border-top: #000000 1px solid; 
		border-bottom: #000000 1px solid;
		font-weight: normal; 
		font-size: 8pt; 
		color: #000000; 
		font-family: MS Sans Serif, Verdana;
		width:70%;
	}
/* Menu styles start here */
.bgmenu
	{
		background-color:#A5CDCD;
	}
.bgborder
	{
		background-color:#C7F4FB;
	}
.menuselect
	{
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		color: #DA0F2C; 
		font-weight: normal; 
		text-decoration: none 
	}
.Mainmenu
	{ 
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		color: #233439; 
		font-weight: bold; 
		text-decoration: none 
	}
.Submenu a:Link
	{ 
		border-top: #C7F4FB 2px solid;
		border-bottom: #C7F4FB 2px solid;
		border-right: #C7F4FB 2px solid;
		border-left: #C7F4FB 2px solid;
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		color: #000000; 
		font-weight: normal; 
		text-decoration: none 
	}
.Submenu a:Active
	{
		border-top: #C7F4FB 2px solid;
		border-bottom: #C7F4FB 2px solid;
		border-right: #C7F4FB 2px solid;
		border-left: #C7F4FB 2px solid;
		font-family: MS Sans serif,Verdana;
		font-size: 8pt;
		color: #000000;
		font-weight: normal;
		text-decoration: none;
		background-color: #4A9696;
	}
.Submenu a:Visited
	{ 
		border-top: #C7F4FB 2px solid;
		border-bottom: #C7F4FB 2px solid;
		border-right: #C7F4FB 2px solid;
		border-left: #C7F4FB 2px solid;
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		color: #000000; 
		font-weight: normal; 
		text-decoration: none 
	}
.Submenu a:Hover
	{ 
		border-top: #C7F4FB 2px solid;
		border-bottom: #C7F4FB 2px solid;
		border-right: #C7F4FB 2px solid;
		border-left: #C7F4FB 2px solid;
		font-family:MS Sans serif,Verdana; 
		font-size: 8pt; 
		color: #FFFFFF; 
		font-weight: normal; 
		text-decoration: none 
	}
.cell_out
{ 
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		color: #000000; 
		font-weight: bold; 
		text-decoration: none 
	}
.cell_out a:Link
	{ 
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		color: #000000; 
		font-weight: bold; 
		text-decoration: none 
	}
.cell_out a:Active
	{
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		color: #000000; 
		font-weight: bold; 
		text-decoration: none 
	}
.cell_out a:Visited
	{ 
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		color: #000000; 
		font-weight: bold; 
		text-decoration: none 
	}
.cell_out a:Hover
	{ 
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		color: #000000; 
		font-weight: bold; 
		text-decoration: none 
	}
.cell_over
	{  
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		font-weight: bold; 
		font-style: normal;
		color: #D10202;
	}
.Submenu_Cellover
	{  
		background-color: #C7F4FB; 
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		font-weight: bold; 
		font-style: normal;
		color: #02147F;
	}
.Submenu_Cellout
	{  
		background-color: #118AAC;
		font-family: MS Sans serif,Verdana; 
		font-size: 8pt; 
		font-weight: bold; 
		color: #FFFFFF; 
		font-style: normal
	}
.Pad2
	{  
		padding-top: 2px; 
		padding-right: 2px; 
		padding-bottom: 2px; 
		padding-left: 2px
	}
.bgblack
	{
		background-color: #000000;
	}
.BKGWhite
	{
		background-color: #FFFFFF;
	}
/* Edit / delete sub menu styles start here */
.tranFont
{
    color : #FFFFFF;
    font-family : verdana, arial, helvetica, sans-serif;
    font-size : 8pt;
    font-weight : bold;
    /*text-decoration : underline;*/
    BACKGROUND-COLOR: #336699;
}

.tranFontOver
{
    color : #336699;
    font-family : verdana, arial, helvetica, sans-serif;
    font-size : 8pt;
    font-weight : bold;
    /*text-decoration : underline;*/
    BACKGROUND-COLOR: #99CCFF;
}
.transMenu   
{
    position: absolute; 
    left:?px; top:?px; width:?px; height:?px;
    /*width: 0px; 
    height: 0px; */ 
    border-style: solid;
    CURSOR: hand;
    BACKGROUND-COLOR: #336699;
    /*text-decoration : underline;*/
    color : #FFFFFF;
    font-family : verdana, arial, helvetica, sans-serif;
    font-size : 8pt;
    font-weight : bold;
    TEXT-ALIGN: center;
    visibility: hidden; z-index: 10;
    BORDER-RIGHT: buttonhighlight thin outset;
    BORDER-TOP: buttonhighlight thin outset;
    BORDER-LEFT: buttonhighlight thin outset;
    BORDER-BOTTOM: buttonhighlight thin outset;
    BACKGROUND-COLOR: #6699CC
}
.Edit_Cellover
	{  
		background-color: #1180AC; 
		font-family: Verdana; 
		font-size: 7pt; 
		font-weight: bold; 
		font-style: normal;
		color: #FFFFFF;
	}
.Edit_Cellout
	{  
		background-color: #5AC0E8;
		font-family: Verdana; 
		font-size: 7pt; 
		font-weight: bold; 
		color: #FFFFFF; 
		font-style: normal
	}
/* border styles start here */
.tableborder
{
		border-top: #558DC8 2px solid;
		border-bottom: #558DC8 2px solid;
		border-right: #558DC8 2px solid;
		border-left: #558DC8 2px solid;
}
.tableborderGrey
{
		border-top: #E5E5E5 1px solid;
		border-bottom: #E5E5E5 1px solid;
		border-right: #E5E5E5 1px solid;
		border-left: #E5E5E5 1px solid;
}
.tableborderLBlue
{
		border-top: #6EAED5 1px solid;
		border-bottom: #6EAED5 1px solid;
		border-right: #6EAED5 1px solid;
		border-left: #6EAED5 1px solid;
}
.tableborderDBlue
{
		border-top: #0D4C8E 1px solid;
		border-bottom: #0D4C8E 1px solid;
		border-right: #0D4C8E 1px solid;
		border-left: #0D4C8E 1px solid;
}
.tableborderLGreen
{
		border-top: #87DBF3 1px solid;
		border-bottom: #87DBF3 1px solid;
		border-right: #87DBF3 1px solid;
		border-left: #87DBF3 1px solid;
}
/* Special buttons styles start here */ 
.specialbuttons
	{
		font-family: Webdings; 
		font-size: 10pt; 
		color: #1462B3; 
		font-weight: bold; 
		text-decoration: none;
		background-color: #FFFFFF;
		border-left: #FFFFFF 0px solid; 
		border-right: #FFFFFF 0px solid;
		border-top: #FFFFFF 0px solid; 
		border-bottom: #FFFFFF 0px solid; 
	}
.Popupspecialbuttons
	{
		font-family: Webdings; 
		font-size: 10pt; 
		color: #1462B3; 
		font-weight: bold; 
		text-decoration: none;
		background-color: #FFFFFF;
		border-left: #FFFFFF 0px solid; 
		border-right: #FFFFFF 0px solid;
		border-top: #FFFFFF 0px solid; 
		border-bottom: #FFFFFF 0px solid; 
	}
/* Tooltip Styles start here */
.tooltiptitle{COLOR: #FFFFFF; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-weight: bold; font-size: 8pt}
.tooltipcontent{COLOR: #000000; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-size: 8pt}

#ToolTip{position:absolute; width: 100px; top: 0px; left: 0px; z-index:4; visibility:hidden;}

.NArial   {font-family: arial; font-size: 10pt}
.NArialL  {font-family: arial; font-size: 12pt}
.NArialS  {font-family: arial; font-size: 8pt}
.NArialW  {COLOR: #FFFFFF; font-family: arial; font-size: 10pt}

A:link{text-decoration: none; color: #39597D; font-weight: bold;}
A:visited{text-decoration: none; color: #39597D; font-weight: bold;}
A:active{text-decoration: underline; color: #39597D; font-weight: bold;}
A:hover{text-decoration: underline; color: #39597D; font-weight: bold;}
/* Tooltip styles ends here */





DIV.tableContainer {
	CLEAR: both; 
	BORDER-BOTTOM: #0D4C8E 1PX solid; 
	BORDER-TOP: #0D4C8E 1PX solid; 
	BORDER-RIGHT: #0D4C8E 1PX solid; 
	BORDER-LEFT: #0D4C8E 1PX solid; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	OVERFLOW: scroll; 
	overflow-y : hidden;
	WIDTH: 100%; 
	PADDING-TOP: 0px; 
	scrollbar-3dlight-color:;
                scrollbar-arrow-color:;
                scrollbar-track-color:;
                scrollbar-darkshadow-color:;
                scrollbar-face-color:#6EAED5;
                scrollbar-highlight-color:;
                scrollbar-shadow-color:

}

DIV.tableContainerNoData {
	CLEAR: both; 
	BORDER-BOTTOM: #0D4C8E 1PX solid; 
	BORDER-TOP: #0D4C8E 1PX solid; 
	BORDER-RIGHT: #0D4C8E 1PX solid; 
	BORDER-LEFT: #0D4C8E 1PX solid; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	OVERFLOW: scroll; 
	WIDTH: 100%; 
	PADDING-TOP: 0px; 
	HEIGHT: 75px;
	scrollbar-3dlight-color:;
                scrollbar-arrow-color:;
                scrollbar-track-color:;
                scrollbar-darkshadow-color:;
                scrollbar-face-color:#6EAED5;
                scrollbar-highlight-color:;
                scrollbar-shadow-color:

}

DIV.tableContainerNoBorder {
	CLEAR: both; 
	BORDER-BOTTOM: #0D4C8E 0PX solid; 
	BORDER-TOP: #0D4C8E 0PX solid; 
	BORDER-RIGHT: #0D4C8E 0PX ; 
	BORDER-LEFT: #0D4C8E 0PX solid; 
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	OVERFLOW: scroll; 
	overflow-y : hidden;
	WIDTH: 100%; 
	PADDING-TOP: 0px; 
	scrollbar-3dlight-color:;
                scrollbar-arrow-color:;
                scrollbar-track-color:;
                scrollbar-darkshadow-color:;
                scrollbar-face-color:#6EAED5;
                scrollbar-highlight-color:;
                scrollbar-shadow-color:

}


THEAD.fixedHeader TR {
	POSITION: relative
}

DIV.tableContainer TABLE {
	FLOAT: left; WIDTH: 99%;
}
DIV.tableContainerNoData TABLE {
	FLOAT: left; WIDTH: 99%;
}

DIV.tableContainerNoBorder TABLE {
	FLOAT: left; WIDTH: 99%; 
}
DIV.tableContainerNoBorder TD{
	padding-left: 0.1cm;
	padding-right: 0.1cm;
}


THEAD.fixedHeader TD {
	BORDER-RIGHT: #FFFFFF 1px solid;
}
.tooltiptitle{COLOR: #FFFFFF; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-weight: bold; font-size: 8pt}
.tooltipcontent{COLOR: #000000; TEXT-DECORATION: none; CURSOR: Default; font-family: arial; font-size: 8pt}

   #header ul {
		list-style: none;
		padding: 0;
		margin: 0;
    }
    
	#header li {
		float: left;
		border: 1px solid #FFFFFF;
		margin: 0;
    }

.selectedDivTab { border: 1px solid #558DC8;
		clear: both;
		padding: 0 0em;}


.selectedTab a:link{
		position: relative;
		top: 0.5px;
		text-decoration: none;
		background: #558DC8 url(tab1.png) right top no-repeat;
		padding: 0.5em 1em;
		text-align: center;
		font-family: MS Sans Serif, Verdana;
		font-size: 8pt;
		font-weight: bold;
		color: #FFFFFF;
}
.selectedTab a:visited{
		position: relative;
		top: 0.5px;
		text-decoration: none;
		background: #558DC8 url(tab1.png) right top no-repeat;
		padding: 0.5em 1em;
		text-align: center;
		font-family: MS Sans Serif, Verdana;
		font-size: 8pt;
		font-weight: bold;
		color: #FFFFFF;
}
.selectedTab a:hover{
		position: relative;
		top: 0.5px;
		text-decoration: none;
		background: #437396  url(tab3.png) right top no-repeat;
		padding: 0.5em 1em;
		text-align: center;
		font-family: MS Sans Serif, Verdana;
		font-size: 8pt;
		font-weight: bold;
		color: #FFFFFF;
}



.nonselectedTab a:link{text-decoration: none;
		background: #5AC0E8 url(tab.png) right top no-repeat;/*#5AC0E8;*/
		padding: 0.5em 1em;
		text-align: center;
		font-family: MS Sans Serif, Verdana;
		font-size: 8pt;
		font-weight: bold;
		color: #000000;
}

.nonselectedTab a:visited{text-decoration: none;
		background: #5AC0E8 url(tab.png) right top no-repeat;/*#5AC0E8;*/
		padding: 0.5em 1em;
		text-align: center;
		font-family: MS Sans Serif, Verdana;
		font-size: 8pt;
		font-weight: bold;
		color: #000000;
}
.nonselectedTab a:hover{text-decoration: none;
		background: #437396 url(tab3.png) right top no-repeat;/*#5AC0E8;*/
		padding: 0.5em 1em;
		text-align: center;
		font-family: MS Sans Serif, Verdana;
		font-size: 8pt;
		font-weight: bold;
		color: #000000;
}

#ajax_listOfOptions{
	position:absolute;	/* Never change this one */
	width:250px;	/* Width of box */
	height:0px;	/* Height of box */
	overflow:auto;	/* Scrolling features */
	border:1px solid #317082;	/* Dark green border */
	white-space:nowrap			
	text-align:left;
	background-color: #ffffff; 
	font-weight: normal; 
	font-size: 8pt; 
	color: #000000; 
	font-family: MS Sans Serif, Verdana;
	z-index:100;
}
#ajax_listOfOptions div{	/* General rule for both .optionDiv and .optionDivSelected */
	margin:1px;		
	padding:1px;
	cursor:pointer;
	font-size:0.9em;
	width:200px;
}
#ajax_listOfOptions .optionDiv{	/* Div for each item in list */
	
}
#ajax_listOfOptions .optionDivSelected{ /* Selected item in the list */
	background-color:#317082;
	color:#FFF;
	width:220px;
}
#ajax_listOfOptions_iframe{
	background-color:#F00;
	position:absolute;
	z-index:5;
}

form{
	display:inline;
}

.trigger{
  cursor: pointer;
  cursor: hand;
}
.branch{
  display: none;
  margin-left: 16px;
}
/* Text Box with Side Image: */
.tb-bg-side {
	background-image: url("../Images/cmb.bmp");
	background-repeat:no-repeat;
	background-position:right;
	border: 1px solid #6297BC;
	width:220px;
}
.tb-ajax-wait { 
        background-image: url("../Images/ajax-loader.gif"); 
        background-repeat:no-repeat; 
        background-position:right; 
        
} 
.tb-ajax-complete{ 
        border:1px solid; 
        display:inline; 
         width:250px 
} 

.tb-ajax-wait-filter { 
        background-image: url("../Images/ajax-loader.gif"); 
        background-repeat:no-repeat; 
        background-position:right; 
        background-color: #ffffff; 
		border-left: #000000 1px solid; 
		border-right: #000000 1px solid;
		border-top: #000000 1px solid; 
		border-bottom: #000000 1px solid;
		font-weight: normal; 
		font-size: 8pt; 
		color: #000000; 
		font-family: MS Sans Serif, Verdana;
		width:70%; 
} 
.tb-ajax-complete-filter{ 
        background-color: #ffffff; 
		border-left: #000000 1px solid; 
		border-right: #000000 1px solid;
		border-top: #000000 1px solid; 
		border-bottom: #000000 1px solid;
		font-weight: normal; 
		font-size: 8pt; 
		color: #000000; 
		font-family: MS Sans Serif, Verdana;
		width:70%; 
} 

.activityDetail{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
	background-color: #DDDDDD;
}

#iFrameDiv{position:absolute; width: 90px; top: 0px; left: 0px; z-index:4; visibility:hidden;}
#CalDiv{position:absolute; width: 90px; top: 0px; left: 1px; border:1;z-index:4; visibility:hidden;}

#findIFrameDiv{position:absolute; width:470px; height:200px; top: 25px; left: 110px; z-index:4; visibility:hidden;}
#FindDiv{position:absolute; width: 470px; height:200px; top:25px; left: 110px; border:0;z-index:4; visibility:hidden;}

#printExportIFrameDiv{position:absolute; width:300px; top: 25px; left: 0px; z-index:4; visibility:hidden;}
#PrintExportDiv{position:absolute; width: 300px; top: 25px; left: 0px; border:0;z-index:4; visibility:hidden;}
.DisplayMenu
{
    position: absolute;
    /*left:?px; top:?px; width:?px; height:?px;*/

    /*height: 0px; */
    border-style: solid;
    CURSOR: hand;

    /*text-decoration : underline;*/
    color : #FFFFFF;
    font-family : verdana, arial, helvetica, sans-serif;
    font-size : 8pt;
    font-weight : bold;
    TEXT-ALIGN: center;
    visibility: hidden; z-index: 10;
    BORDER-RIGHT: buttonhighlight thin outset;
    BORDER-TOP: buttonhighlight thin outset;
    BORDER-LEFT: buttonhighlight thin outset;
    BORDER-BOTTOM: buttonhighlight thin outset;
    BACKGROUND-COLOR: #6699CC
}
.parentDisable {
	width:200;
	height:100; 
	position:absolute; 
	top:0; 
	left:0;
	background-color:#B0C4DE;
	z-index:100;
}
#popup {
	width:200;
	height:100; 
	position:absolute; 
	top:200px; 
	left:200px;
	background-color:#B0C4DE;
	border-width: 2px;
	border-style: inset;
	border-color: gray;
}
.FilterMenu
{
    position: absolute;
    /*left:?px; top:?px; width:?px; height:?px;*/
    width: 160px;
    /*height: 0px; */
    border-style: solid;
    CURSOR: hand;

    /*text-decoration : underline;*/
    color : #FFFFFF;
    font-family : verdana, arial, helvetica, sans-serif;
    font-size : 8pt;
    font-weight : bold;
    TEXT-ALIGN: center;
    visibility: hidden; z-index: 10;
    BORDER-RIGHT: buttonhighlight thin outset;
    BORDER-TOP: buttonhighlight thin outset;
    BORDER-LEFT: buttonhighlight thin outset;
    BORDER-BOTTOM: buttonhighlight thin outset;
    BACKGROUND-COLOR: #6699CC
}
#ExportTable {
	position:absolute; 
	top:300px; 
	left:300px;
	background-color:#FFFFFF;
	border-width: 2px;
	border-style: inset;
	border-color: gray;
}
.ExportDiv {
	position:absolute; 
	top:0; 
	left:0;
	background-color:#B0C4DE;
	z-index:100;
}
.searchDiv {
  height:100px; width:300px; 
  background: url(../Images/gradient.jpg) 0% 0% repeat-x;
  background-size: 100%;
  border: 2px outset;
  display:none;
}
.searchDiv1 {
  height:100px; width:300px; 
  background: url(../Images/gradient.jpg) 0% 0% repeat-x;
  background-size: 100%;
  border: 2px outset #424242;
  display:block;
  position:absolute;
}
.trBackgroundImage{
 background: url(../Images/gradient.jpg) 0% 0% repeat-x;
}
a.findSummary, 
a:hover.findSummary, 
a:focus.findSummary, 
a:active.findSummary 
{ 
text-align: left;
text-decoration: none; 
font-family: MS Sans serif,Verdana; 
font-size: 8pt; 
color: #000000; 
font-weight: bold;

} 
.EventPopupAltDataRow
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: #000000;
	background-color: #BCD2EE;
}
.EventPaginationRow
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4973AB;
}
.EventPaginationRow a:link
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4973AB;
}
.EventPaginationRow a:hover
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4973AB;
}
.EventPaginationRow a:visited
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4973AB;
}
.EventPaginationRow a:active
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4973AB;
}
.EventPopupGridHeading
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4973AB;
}
.EventSelectionRow
{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #4D71A3;
}
.FilterPopupHeader
{
	font-family: MS Sans Serif, Verdana;
	font-size: 8pt;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #4863A0;
	padding-left: 10px;
}
.DragRow{
	font-family: Verdana;
	font-size: 7pt;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #4D71A3;
}